<%= nested_form_for [@course,@assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <h1><%= f.text_field :title, placeholder: "Assignment title" %></h1>
    <div class="form-group">
      <%= f.label :description, "Assignment description (See example)" %>
      <%= f.text_area :description, placeholder: "Describe your assignment.", class: "editable" %>
    </div>

    <div class="form-group">
      <%= f.label :template, "Assignment template (See example)" %>
      <%= f.text_area :template, placeholder: "Title\nArgument\nEvidence\nConclusion.", class: "editable" %>
    </div>

        <div class="form-group">
      <%= f.label :example, "Example of great student work" %>
      <%= f.text_area :example, placeholder: "Choose something that students should aspire to", class: "editable" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :due_at %>
        <div class="input-append date datetime-picker">
          <%= f.text_field :due_at, :value => f.object.due_at, "data-format"=>"yyyy-MM-dd hh:mm:ss"%>
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :open_at %>
        <div class="controls">
          <div class="input-append date datetime-picker">
            <%= f.text_field :open_at, :value => f.object.open_at, "data-format"=>"yyyy-MM-dd hh:mm:ss"%>
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="edit_section_title">
      <h3>Rubric items
      <small>What questions should students be evaluated on?</small>
      </h3>
      <p>Remember, you can choose whether rubric criteria are shown for early feedback, for assessment, or both (default) </p>
    </div>
  </div>
  
  <div class="col-md-8">
    <ul class="rubric">
      <%= f.fields_for :rubric_items do |r| %>
        <li>
          <div class="row-fluid">
            <div class="row-fluid">
              <div class="col-sm-9"><strong><%= r.text_field :short_title, placeholder: "Title", class: "form-control" %></strong></div>
              <span class="badge col-sm-3"><%=r.text_field :max_label, class:"form-control", placeholder: "opt. max score"%></span>
            </div>
            <div class="row-fluid">
              <%=r.text_area :title, placeholder: "An optional longer explanation", class: "form-control" %>
            </div>
            <div class="row-fluid form-inline" id="checkboxes-<%=r.object.id%>">
              <%= r.fields_for :answer_attributes, :wrapper => false do |a| %>
                <div class="fields row-fluid">
                  <div class="form-group" style="width: 75%;"><input type="checkbox" disabled="disabled"><%= a.text_field :description, placeholder: "Enter a criteria. Keep it to one line if possible", class:"form-control", style: "width: 95%" %></div><div class="form-group" style="width: 7%;"><%= a.text_field :score, placeholder: "0", class:"form-control", style: "width: 100%" %></div><div class="form-group"><%= a.link_to_remove "Remove", class:"btn btn-default", tabindex: "-1"%></div><div class="form-group"><%= a.text_field :attribute_type, class:"form-control", tabindex: "-1"%>
                  <%= a.text_area :example, class:"editable" %>
                </div>

                </div>
              <% end %>
            </div>
            <div class="row-fluid">
              <%= r.link_to_add "Add a checkbox", :answer_attributes, :data => { :target => "#checkboxes-#{r.object.id}" }, class: "" %>
            </div>
            <div class="row-fluid">
              <input type="textarea" placeholder="Space for student comments" class="form-control" disabled="disabled" rows="2"></input>
            </div>
            <legend></legend>
            <div class="row-fluid">
              <%= r.label :show_for_feedback, class:"checkbox-inline" do %>
                <%= r.check_box :show_for_feedback %> Recommend this for early feedback 
              <% end %>
              <%= r.label :show_for_final, class:"checkbox-inline" do %>
                <%= r.check_box :show_for_final %> Include in final assessment (grades) 
              <% end %>
            </div>
            <div class="row-fluid">
              <%= r.link_to_remove "Remove this rubric item" %>
            </div>
            <br/>
          </div>
        </li>
      <% end %>
      <%= f.link_to_add "Add a rubric item", :rubric_items %>
    </ul>

  </div>
  <div class="clearfix"></div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
  <script type="text/javascript">
  $(function() {
    $('.datetime-picker').datetimepicker({language: 'en', pickTime: true});});

  </script>

