<%= form_for [@course,@assignment], :html=>{:class => "form-horizontal"} do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="control-label">
      <%= f.label :title %>
    </div>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :description %>
    </div>
    <div class="controls">
      <%= f.hidden_field :description, :id=>'assignment_description' %>
      <div class="editable" id="assignment_description_richtext" data-syncwith="assignment_description" style="margin-left:165px">
        <%= sanitize @assignment.description unless @assignment.description.nil? %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :due_at %>
    </div>
    <div class="controls">
      <div class="input-append date datetime-picker">
        <%= f.text_field :due_at, "data-format"=>"yyyy-MM-dd hh:mm:ss"%>
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :open_at %>
    </div>
    <div class="controls">
        <div class="input-append date datetime-picker">
        <%= f.text_field :open_at, "data-format"=>"yyyy-MM-dd hh:mm:ss"%>
        <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :milestone_list %>
    </div>
    <div class="controls">
      <%= f.text_field :milestone_list %>
    </div>
  </div>
<section class="project_edit_section">
    <div class="edit_section_title">
      <h3>Rubric items
      <small>What questions should students be evaluated on?</small>
      </h3>
    </div>
  <%= f.fields_for :rubric_items do |r| %>


    <div class="control-group">
      <div class="control-label">
        <%= r.label :short_title %>
      </div>
      <div class="controls">
        <%= r.text_field :short_title %>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= r.label :title do %>
        <strong>A longer description</strong>
        <small>Include examples of good and bad work</small>
        <% end %>
      </div>
      <br/>
      <div class="controls">
        <%= r.text_area :title %>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <%= r.label :common_wishes do %>
        <strong>Common feedback for improvement</strong><br/>
        <small>Often, students make similar errors. What common feedback would improve performance on this rubric?</small>
        <% end %>
      </div>
      <br/>
      <div class="controls">
        <%= r.text_area :common_wishes, placeholder: "Spend more time observing, less writing; Be specific when you write...", style: "width: 300px"%>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= r.label :ends_at %>
      </div>
      <div class="controls">
        <div class="input-append date datetime-picker">
          <%= r.text_field :ends_at, "data-format"=>"yyyy-MM-dd hh:mm:ss"%>
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
        Students will only be able to get feedback on this item if they submit by this date. 
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= r.label :final_only do %>
        <strong>Final only?</strong> <br/>
        <small>Rubric item only useful on the final evaluation (e.g. spelling and grammar).</small>
        <% end %>
      </div>
      <div class="controls">
        <%= r.check_box :final_only %>
        
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= r.label :min do %>
        <strong>Min Score</strong>
        <% end %>
      </div>
      <div class="controls">
        <%= r.text_field :min %>
      </div>
      <div class="control-label">
        <%= r.label :min_label do %>
                  <strong class="required">Min label</strong><br/>
          <small>What should we call the min score (e.g. no)</small>
        <% end %>
      </div>
      <div class="controls">
        <%= r.text_field :min_label %>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= r.label :max do %>
        <strong>Max Score</strong>
        <% end %>
      </div>
      <div class="controls">
        <%= r.text_field :max %>
      </div>
      <div class="control-label">
        <%= r.label :max_label do %>
          <strong class="required">Max label</strong><br/>
          <small>What should we call the max score (e.g. yes)</small>
        <% end %>
      </div>
      <div class="controls">
        <%= r.text_field :max_label %>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">
        <%= r.label :_destroy, "Remove this rubric item" %>
      </div>
      <div class="controls">
        <%= r.check_box :_destroy %>
      </div>
    </div>

    <legend></legend>
  <% end %>
</section>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

  <script type="text/javascript">
  $(function() {
    $('.datetime-picker').datetimepicker({language: 'en', pickTime: true});});
  </script>
<% end %>
