<div class="table-responsive">
	<table cellspacing=0 class="task_box" style="width:100%">
		<tr>
		<% for task in task_list %>
			<% unless task[:close_at].blank? %>
				<td class="<%= 'completed_task' if task[:close_at] < Time.now %><%= 'current_task' if (task[:open_at] < Time.now and task[:close_at] > Time.now) %><%= 'future_task' if (task[:open_at] > Time.now and task[:close_at] > Time.now) %>">
					<% if (task[:open_at] < Time.now and task[:close_at] > Time.now) %>
						<% if answers.last.revision_name.to_s == task[:name] %>
							<%= link_to(edit_answer_path(answers.last)) do %>
								<strong><%= task[:name] %></strong>
								<br />due <%= (task[:close_at]).strftime "%b %e, %l:%M %p" %>
								<br />(<%= "in " if task[:close_at] > Time.now %><%= distance_of_time_in_words task[:close_at], Time.now %><%= " ago" if task[:close_at] < Time.now %>)
							<% end %>
						<% else %>
							<%= link_to(new_assignment_answer_path(@assignment)) do %>
								<strong><%= task[:name] %></strong>
								<br />due <%= (task[:close_at]).strftime "%b %e, %l:%M %p" %>
								<br />(<%= "in " if task[:close_at] > Time.now %><%= distance_of_time_in_words task[:close_at], Time.now %><%= " ago" if task[:close_at] < Time.now %>)
							<% end %>
						<% end %>
					<% else %>
						<strong><%= task[:name] %></strong>
						<br />due <%= (task[:close_at]).strftime "%b %e, %l:%M %p" %>
						<br />(<%= "in " if task[:close_at] > Time.now %><%= distance_of_time_in_words task[:close_at], Time.now %><%= " ago" if task[:close_at] < Time.now %>)
					<% end %>
				</td>
				<td class="<%= 'completed_task' if task[:review_close_at] < Time.now %><%= 'current_task' if (task[:review_open_at] < Time.now and task[:review_close_at] > Time.now) %><%= 'future_task' if (task[:review_open_at] > Time.now and task[:review_close_at] > Time.now) %>">
					<% if (task[:review_open_at] < Time.now and task[:review_close_at] > Time.now) %>
							<strong>Review <%= task[:name] %></strong>
							<br />by <%= (task[:review_close_at]).strftime "%b %e, %l:%M %p" %>
							<br />(<%= "in " if task[:review_close_at] > Time.now %><%= distance_of_time_in_words task[:review_close_at], Time.now %><%= " ago" if task[:review_close_at] < Time.now %>)
					<% else %>
						<strong>Review <%= task[:name] %></strong>
						<br />by <%= (task[:review_close_at]).strftime "%b %e, %l:%M %p" %>
						<br />(<%= "in " if task[:review_close_at] > Time.now %><%= distance_of_time_in_words task[:review_close_at], Time.now %><%= " ago" if task[:review_close_at] < Time.now %>)
					<% end %>
				</td>
			<% end %>
		<% end %>
		</tr>
	</table>
</div>