
<% @answers.each do |answer| %>
<ul class="pager">
<% unless @answers.previous_page.nil? %>
  <li><%= link_to "Previous", flipbook_assignment_path(@assignment, page: @answers.previous_page) %></a></li>
 <% end %>
  	<li><span style="min-width: 200px">
			<strong>
	  		<%if current_user.instructor_for?(@assignment.course) %>
	  			<a href="#" id="flipbook-reveal-author" data-author="<%= answer.user.name %>"> Click to reveal name</a>
	  		<% else %>
	  			Anonymized
	  		<% end %>
		</strong>
		</span></li>
  <% if @answers.next_page.nil? %>
  	<li><%= link_to "Start over", flipbook_assignment_path(@assignment) %></a></li>
  	<%else %>
  		<li><%= link_to "Next", flipbook_assignment_path(@assignment, page: @answers.next_page) %></a></li>
  	<% end %>
</ul>

	<%= sanitize answer.response %>
	<p><%= link_to "See reviews", answer_reviews_path(answer), class: "btn btn-default" %></p>
<% end %>
