<h1>Grades for <%=link_to @assignment.title, @assignment %>
	<% unless @permitted_user == current_user %>
		<small>For <%= @permitted_user.name %> (<%= @permitted_user.email %>) </small>
	<% end %>
</h1>

<p>Your grade is the rounded sum of grades for each attribute on this assignment. You also earn credit for performing reviews.</p>
<table class="table">
	<thead>
		<th>Component</th>
		<th>Your grade</th>
	</thead>

	<tbody>

		<% @grades.each do |grade| %>
			<tr>
				<% if current_user.admin? %>
					<%= form_for grade, :url=>update_grade_assignment_path(@assignment, grade), method: :post do |f| %>
					<td><%=f.text_field :grade_type %></td>
					<td><%= f.number_field :credit, :step=>"0.1" %> <%= f.submit "Set grade", class: "btn"%></td>
					<%end %>
				<% else %>
					<td><%=grade.grade_type %></td>
					<td><%= grade.credit %></td>
				<% end %>
			</tr>
		<% end %>
		<tr><td><strong>Total</strong></td><td><%= (@grades.inject(0) { |acc, grade| acc+grade.credit }).round(2) %></td>
	</tbody>
</table>