<% content_for :local_nav do %>
      <li><%= link_to @assignment.title, @assignment %></li>
    <% end -%>

<% if @trigger.nil? %>
<h1>Thanks for your help :)</h1>
<p>You have finished your required reviews, so we have unlocked your reviews for you. If you want to see more of your classmates awesome work and help them out, you can continue reviewing! Thanks for helping your classmates!</p>

<p>We will email you at <strong><%= current_user.email %></strong> when your work has been reviewed. </p>
<% else %>
<h1>Give feedback to get feedback :)</h1>
<p>Here's how reviewing works. When you ask your classmates for feedback, you also promise to review work by two of your classmates. To help you keep this promise, we only show you your own feedback after you finish two reviews. </p>

<p><strong>You have to complete <%= @trigger.count %> more reviews before we can show you your feedback.</strong></p>
<% end %>

<div class="controls">

	<% if current_user.instructor_for?(@assignment.course) %>
		<%unless @next_staff_submission.blank? %>
			<%= link_to "Give staff feedback", review_answer_path(@next_staff_submission), method: :post, class: "btn btn-primary" %>
		<% else %>
			No more ungraded submissions.
		<% end %>

		<%= link_to "Give non-graded feedback", create_typed_review_assignment_path(assignment_id:@assignment.id,typed_review:{type:"final", revision:"Final Draft"}), method: :post, class: "btn btn-default" %>
	<% else %>
		<%= link_to "Give feedback now", create_typed_review_assignment_path(assignment_id:@assignment.id,typed_review:{type:"final", revision:"Final Draft"}), method: :post, class: "btn btn-primary" %>
	<% end %>
	<% unless @recent_review.nil? %>
		| <%= link_to "Edit your review", edit_review_path(@recent_review),class: "btn btn-default" %>
	<% end %>
</div>
