<h1>
  <%= @assignment.title %>
  <small>  Due on <%= (@assignment.due_at).strftime "%b %e, %l:%M %p" %> (<%= "in " if @assignment.due_at > Time.now %><%= distance_of_time_in_words @assignment.due_at, Time.now %><%= " ago" if @assignment.due_at < Time.now %>) 
    <%if user_signed_in? and current_user.admin? %> <%= link_to "Stats", stats_assignment_path(@assignment) %><% end %>
  </small>
</p>
</h1>
<div id="assignment_description">
  <%= sanitize @assignment.description %>
</div>

<div id="assignment_rubric_items">
  <h3>Evaluation</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Rubric item</th><th>Max score</th><th>Submit answer for feedback by</th> 
      </tr>
    </thead>
    <tbody>
    <% @assignment.rubric_items.each do |r| %>
      <tr>
        <td><strong><%= r.short_title %></strong><br/>
         <%= sanitize r.title %></strong></td>
         <td><%= r.max %></td>
         <td><%= r.ends_at.strftime "%b %e, %l:%M %p" %> (<%= "in " if r.ends_at > Time.now %><%= distance_of_time_in_words r.ends_at, Time.now %><%= " ago" if r.ends_at < Time.now %>)</td>
       </tr>
    <% end %>
  </tbody>
  </table>
</div>

<div id="assignment_answers">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#my_answers" data-toggle="tab">My Drafts</a></li>
    <li><a href="#my_reviews" data-toggle="tab">My reviews</a></li>
    <% if @assignment.due_at < Time.now %>
    <li><a href="#all_answers" data-toggle="tab">All answers</a></li>
    <li><a href="#starred_answers" data-toggle="tab">Starred answers</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
      <div id="my_answers" class="tab-pane active">
        <% if !user_signed_in? %>
          <p>You must <%= link_to "sign in", new_user_session_path %> to see your submissions. <%= link_to "Log in and start a new submission", new_assignment_answer_path(@assignment), :class=>"btn btn-success" %></p>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th>Draft</th>
                <th>Preview</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @my_answers %>
                <% @my_answers.each do |answer| %>
                <tr>
                  <td><%= answer.revision_name %> </td>
                  <td><%= sanitize truncate(answer.response, length:50, escape: false) or "<em>Not found</em>" %></td>
                    <td>
                    <% if answer.in_progress? %>
                    <span class="label label-important">Won't autosubmit</span> 
                    <% else %>
                  <% end %>
                    <%= link_to "Edit", edit_answer_path(answer), class:"btn" %> <%= link_to 'Delete draft', answer, method: :delete, data: { confirm: 'Are you sure? You can\'t undo this' } %>
                  </td>
                  
                </tr>
                <% end %> 
              <% end %>
            </tbody>
          </table>
          <% if @my_answers.empty? %>
            <p  style="text-align:center; padding:10px 0 10px 0"><%= link_to "Create your first draft", new_assignment_answer_path(@assignment), :class=>"btn btn-success" %></p>
          <% else %>
            <p  style="text-align:center; padding:10px 0 10px 0"><%= link_to "Create a new draft", new_assignment_answer_path(@assignment), :class=>"btn btn-success" %></p>
          <% end %>
        <% end %>
      </div>
      <div id="my_reviews" class="tab-pane">
        <% if !user_signed_in?%>
        You must sign in to give feedback.
        <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Draft title</th>
              <th>Preview</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if @my_reviews %>
              <% @my_reviews.each do |review| %>
              <tr>
                <td><%= review.answer.revision_name.blank? ? "<em>Unnamed</em>".html_safe : review.answer.revision_name %></td>
                <td><%= sanitize truncate(review.answer.response, length:50, escape: false) or "<em>Not found</em>" %></td>
                <td><span class="label label-success">Unread</span></td>
                <td><%= link_to "Read", answer_reviews_path(review.answer), class:"btn" %></td>
              </tr>
              <% end %> 
            <% end %> 
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th>Draft title</th>
              <th>Answer preview</th>
              <th>Review type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if !@reviews_by_me.blank? %>
              <% @reviews_by_me.each do |review| %>
              <tr>
                <td><%= review.answer.revision_name.blank? ? "<em>Unnamed</em>".html_safe : review.answer.revision_name %></td>
                <td><%= sanitize truncate(review.answer.response, length:50, escape: false) or "<em>Not found</em>" %></td>
                <td><%= review.review_type.capitalize unless review.review_type.nil? %> review</td>
                <td>
                  <% if review.review_type == "final" %>
                    <%= link_to "Edit", edit_review_path(review), class:"btn" %>
                  <% end %>
                </td>
              </tr>
              <% end %> 
            <% end %> 
          </tbody>
        </table> 
        <%= render partial: "new_review_box", locals:{assignment:@assignment} %>
        <% end %>
      </div>
    <% if @assignment.due_at < Time.now %>
    <div id="all_answers" class="tab-pane">
      <%= render partial: "reviews/answers_with_reviews", locals: {answers: @all_answers} %>
    </div>
    <div id="starred_answers" class="tab-pane">
      <%= render partial: "reviews/answers_with_reviews", locals: {answers: @starred_answers} %>
    </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? && current_user.admin? %>
<div>
  <legend></legend>
  <h3>For instructors only</h3>
<p>
  <strong>This assignment opens at:</strong>
  <%= @assignment.open_at %></p>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', course_assignments_path(@assignment.course) %>
</div>
<% end %>