<h2>Stats</h2>
	<table class="table">
		<tr>
			<td>Submissions past 24 hours</td><td><%= @submissions_last_day_lagging %></td>
		</tr>
		<tr>
			<td>Reviews completed past 24 hours</td><td><%= @reviews_last_day_lagging %></td>
		</tr>
		<tr>
			<td>Revisions started past 24 hours</td><td><%= @revisions_last_day_lagging %></td>
		</tr>
		<tr>
			<td>Total submissions all time</td><td><%= @submissions_total_submitted %></td>
		</tr>
		<tr>
			<td>Unreviewed right now</td><td><%= @unreviewed_right_now %></td>
		</tr>
		<tr>
			<td>Oldest unreviewed answer submitted</td>
			<td>
			<% unless @oldest_unreviewed.nil? %>
				<%= time_ago_in_words @oldest_unreviewed.submitted_at %> ago
			<% end %>
		</td>
		</tr>
		<tr>
			<td>Top reviewers all time</td>
			<td>
				<% @top_reviewers.each do |reviewer| %>
					<%= mail_to reviewer[0].email, reviewer[0].name %> (<%= reviewer[1] %>)
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Top reviewers past 24 hours</td>
			<td>
				<% @top_reviewers_lagged.each do |reviewer| %>
					<%= mail_to reviewer[0].email, reviewer[0].name %> (<%= reviewer[1] %>)
				<% end %>
			</td>
		</tr>
	</table>
<!-- More stats in more_stats page -->


