<table class="table">
	<thead>
		<tr>
			<th>Student name</th>
			<th>Reviews performed: Exchange</th>
			<th>Paired</th>
			<th>Final</th>
			<% @milestones.each do |m| %>
				<th><%= m %> </th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @students.order('name').each do |s| %>
			<tr>
				<td><%= s.name %> (<%= s.email %>)</td>
				<% exchange_reviews = Review.where("user_id = ? and review_type='exchange' and active = ? and assignment_id=?", s.id, true, @assignment.id) %>
				<% if exchange_reviews.count == 0 %>
					<td style="background-color: rgb(244,109,67);">
					None</td>
				<% else %>
					<td><%= exchange_reviews.count %></td>
				<% end %>
				<% paired_reviews = Review.where("(user_id = ? or copilot_email= ?) and review_type='paired' and active = ? and assignment_id=?", s.id, s.email, true, @assignment.id) %>
				<% if paired_reviews.count == 0 %>
					<td style="background-color: rgb(244,109,67);">
					None</td>
				<% else %>
					<td><%= paired_reviews.count %></td>
				<% end %>
				<% final_reviews = Review.where("user_id = ? and review_type='final' and active = ? and assignment_id=?", s.id, true, @assignment.id) %>
				<% if final_reviews.count == 0 %>
					<td style="background-color: rgb(244,109,67);">
					None</td>
				<% else %>
					<td><%= final_reviews.count %></td>
				<% end %>

				<% @milestones.each do |m| %>
				<% answer = @assignment.answers.where(user_id: s).tagged_with(m).first %>
					<% if answer.nil? %>
					<td style="background-color: rgb(244,109,67);">Not Submitted</td>
					<% else %>
						<% if answer.active_reviews.count == 0 %>
							<td style="background-color: rgb(255,255,191);"><%= link_to "Submitted", new_answer_review_path(answer)%>; No reviews</td>
						<% else %>
							<td style="background-color: #8cc665;"><%= link_to "Submitted", new_answer_review_path(answer)%>; <%= answer.active_reviews.count %> reviews</td>
						<% end %>
					<% end %>
				</td>
				<% end %>					
			</tr>
		<% end %>
	</tbody>
</table>

