<h2>Stats</h2>
	<table class="table">
		<tr>
			<td>Submissions past 24 hours</td><td><%= @submissions_last_day_lagging %> (<%= @submissions_last_day_havent_seen_reviews %> have unopened reviews.)</td>
		</tr>
		<tr>
			<td>Reviews completed past 24 hours</td><td><%= @reviews_last_day_lagging %></td>
		</tr>
		<tr>
			<td>Revisions started past 24 hours</td><td><%= @revisions_last_day_lagging %> (<%= @revisions_with_useful_feedback %> had useful feedback)</td>
		</tr>
		<tr>
			<td>Total submissions all time</td><td><%= @submissions_total_submitted %> (from <%= @total_users_submitted%>)</td>
		</tr>
		<tr>
			<td>Unreviewed right now</td><td><%= @unreviewed_right_now %></td>
		</tr>
		<tr>
			<td>Unreviewed answer submitted</td>
			<td>
				<ul>
					<% @unreviewed_answers.each do |a| %>
						<li><%= link_to "#{time_ago_in_words a.submitted_at} ago", review_answer_path(a), method: :post%></li>
					<% end %>
				</ul>
		</td>
		</tr>
		<tr>
			<td>Top reviewers all time</td>
			<td>
				<% @top_reviewers.each do |reviewer| %>
					<%= mail_to reviewer[0].email, reviewer[0].name %> (<%= reviewer[1] %>)
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Top reviewers past 24 hours</td>
			<td>
				<% @top_reviewers_lagged.each do |reviewer| %>
					<%= mail_to reviewer[0].email, reviewer[0].name %> (<%= reviewer[1] %>)
				<% end %>
			</td>
		</tr>

		<tr>
			<td>Total unreviewed by staff</td>
			<td>
				<%= @unreviewed_by_staff %>
			</td>
		</tr>
	</table>
<!-- More stats in more_stats page -->

<% if @total_users_submitted > 300 %>
Detailed stats are unavailable because you have more than 300 students. Contact <%= mail_to "hello@peerstudio.org", "hello@peerstudio.org"%> to raise this limit.
<% else %>

	<table class="table">
		<thead>
			<tr>
				<th>Student name</th>

				<th>Drafts submitted</th>
				<th>
					Final submission
				</th>
				<th>Grade</th>
				<th>Reviews performed</th>
			</tr>
		</thead>
		<tbody>

			<% @students.order('name').each do |s| %>
				<tr>
					<td><%= s.name %> (<%= s.email %>)</td>
					<% answer_count = @submitted_answers[s.id] %>
					<% if answer_count.nil? or answer_count == 0 %>
						<td style="background-color: rgb(244,109,67);">Not Submitted</td>
					<% else %>
						<td><%= answer_count %></td>
					<% end %>
							<% final = Answer.where(assignment: @assignment, submitted: true, is_final: true, user:s).order("submitted_at desc").first %>
							<% if final.nil? %>
								<td style="background-color: rgb(244,109,67);">Not Submitted</td>
							<% elsif final.total_evaluations == 0  %>
								<td style="background-color: rgb(255,255,191);"><%= link_to "Not yet reviewed/graded", review_answer_path(final), method: :post %></td>
							<% else %>
								<td><%= link_to "#{final.total_evaluations} reviews", answer_reviews_path(final) %>
								<% if @reviews_by_instructors.include?(final.id) %>
									(Staff reviewed)
								<% else %>
									<%= link_to "Review as staff", review_answer_path(final), method: :post %>
								<% end %>
								<% if final.submitted_at > @assignment.due_at %> <strong>Late</strong><% end %>
								</td>
							<% end %>
						</td>
						<% if @grades.nil? %>
							<td>No grade yet</td>
						<% else %>
							<td><%= @grades[s.id] %> <%= link_to "Regrade", grades_assignment_path(@assignment, user: s.id) %></td>
						<% end %>

						<% final_reviews_count = @review_count[s.id]  %>
						<% if final_reviews_count.nil? or final_reviews_count == 0 %>
							<td style="background-color: rgb(244,109,67);">
							None</td>
						<% else %>
							<td><%= final_reviews_count %></td>
						<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<h2>Export</h2>
<%= link_to "Download gradebook", export_grades_assignment_path(@assignment, format: "csv"), class: "btn" %> 
