<div class="controls" style="padding-bottom: 10px;">
  <label class="checkbox">
    <%= f.check_box :receives_day_before %> I would like to receive a reminder email <b>the day before</b> my <%= event_term %>.
  </label>
</div>
<div class="controls" style="padding-bottom: 10px;">
  <label class="checkbox">
    <%= f.check_box :receives_fifteen_min %> I would like to receive an email <b>fifteen minutes before</b> my <%= event_term %> begins.<br/><span style="line-height: 12pt; font-size: 10pt; font-style: oblique;">We suggest that you keep this reminder enabled. You will need to sign back in to <strong>talkabout</strong> to find the link to your group's Google Hangout.</span>
  </label>
</div>
<!--  <div class="controls" style="padding-bottom: 10px;">
  <label class="checkbox">
    <%= f.check_box :receives_followup %> I would like to be included in emails with my peers <b>after</b> our <%= event_term %> ends.<br/><span style="line-height: 12pt; font-size: 10pt; font-style: oblique;">After the <%= event_term %>, <strong>talkabout</strong> will automatically set up an email thread for you and the other students you spoke with over Google Hangouts. This will allow you to follow up on your discussion and keep the conversation going. Please note that your email address will be visible to those students if you choose to participate.</span>
  </label>
</div>  -->