<%= f.hidden_field :coursera_id, :value=>session[:coursera_id]%>
<div class="row-fluid">
<h2> Select a timezone <small>so we can show you deadlines in your local time</small></h2>
<div class="col-sm-12">
<div class="form-group">
  <%= time_zone_select( :user, :time_zone, nil, :default => "Pacific Time (US & Canada)", :class =>"form-control") %>
</div>
</div>
</div>


<script>
$().ready(function() {
  $("#user_time_zone").chosen();
  $("#user_gender").chosen({disable_search_threshold: 10, allow_single_deselect: true});
});
$('[data-toggle=tooltip]').tooltip();
</script>

<hr/>

<div class="row-fluid">
  <h2> Help us improve peer assessment? <small>we'll be so happy if you do!</small></h2>

  <p>Peerstudio is a research project at Stanford University and UC San Diego. As you use Peerstudio, we'd like to show you new features, and collect data about how Peerstudio works. This data will be used only for research-- you'll help us improve peer assessment, both for yourself, and for everyone else! We have more information about the research we have planned <a href="https://docs.google.com/document/d/1kZKBs2JXX9rFSQ4LzAy-XBOxNPPmHFS6l7CwXtP63JY/pub" target="_blank"><strong>here</strong></a>. We'd love to have your help!</p>
  <span class="help-block">You can still use Peerstudio without participating in our research.</span>
</div>


<div class="row-fluid">
  <div class="col-sm-12">
    <div class="form-group">
      <div class="radio">
        <%= f.label :consented_true do %>
          <%= f.radio_button :consented, true, value: true -%> <strong>I am at least 18 years of age, and I consent to participating in this research study.</strong>
        <% end %>
        <a href="http://research.peerstudio.org" target="_blank">(See the results of our research so far.)</a>
      </div>
      <div class="radio">
       <%= f.label :consented_false do %>
        <%= f.radio_button :consented, false, value: false %> I do not consent to participating in this research study (or am under 18).
       <% end %>
      </div>
    </div>
  </div>
</div>
