<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class=>"form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>
    <h2> Personal information <small>so you can get great feedback.</small></h2>
          <div class="form-group"><%= f.label :name, class: "col-sm-2 control-label" %><div class="col-sm-10"><%= f.text_field :name, :placeholder => "Your name", :class=>"form-control" %>
            <p class="help-block">We use your name when we email you, and to help staff find your work. Your name is not shared with your classmates or other people.</p>
          </div></div>
          <div class="form-group"><%= f.label :email, class: "col-sm-2 control-label" %><div class="col-sm-10"><%= f.email_field :email, :placeholder => "Your email", :class=>"form-control" %>
            <p class="help-block">We email you when your work is reviewed, or to remind you. Your name is not shared with your classmates or other people.</p>
          </div></div>

          <div class="form-group"><%= f.label :gender, class: "col-sm-2 control-label" %><div class="col-sm-10"><%= f.select :gender, ['', 'Male', 'Female', 'Other'], {:include_blank => true}, {'data-placeholder' => 'Gender', 'class'=>"form-control"} %>
            <p class="help-block">Help us better understand who uses PeerStudio. Your gender is not shared with your teachers, classmates or other people.</p>
          </div></div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <div class="col-sm-2">
              <p class="help-block">If you would like to change your password, please fill out the following information. Otherwise, leave the fields blank.</p>
            </div>
            <div class="col-sm-10">
              <div class="form_field"><%= f.password_field :current_password, :placeholder => "Current password" %></div>
              <div class="form_field"><%= f.password_field :password, :autocomplete => "off", :placeholder => "New password" %></div>
              <div class="form_field"><%= f.password_field :password_confirmation, :placeholder => "New password confirmation" %></div>
            </div>
        </div>

      <%= render :partial=>"optional_fields", :locals=>{:f=>f} %>

    <div class="clearfix"></div>


    <div class="form-actions">
      <%= f.submit "Update Settings", :class => ' btn btn-large btn-primary' %>&nbsp; or <%= link_to "Go Back", :back %>
      <div style="float:right;">
        <strong>Unhappy?&nbsp;&nbsp;</strong><%= link_to "Delete my account", registration_path(resource_name), confirm: "Are you sure? Your account data will be permanently lost!", data: { "confirm-title" => "Delete my account", "confirm-cancel" => "Cancel", "confirm-proceed" => "Yes, delete my account" }, :method => :delete %>
      </div>
    </div>

    <script>
    $().ready(function() {
      $("#user_time_zone").chosen();
      $("#user_gender").chosen({disable_search_threshold: 10, allow_single_deselect: true});
    });
    </script>

  <% end %>
