
<!-- This is to complete registrations from an open-id provider -->
<%= form_for(resource, :as => resource_name, :url => complete_openid_registration_path) do |f| %>
	<div class="row-fluid">
		<h1 class="script">Hi, <%= @name %>!</h1>
	</div>
	<div class="row-fluid">
	  <%= render :partial=>"optional_fields", :locals=>{:f=>f} %> 
	</div>
	<div class="row-fluid">
		<%= f.submit "Sign up", :class => 'btn btn-large btn-primary' %> &nbsp;&nbsp;&nbsp; We will send all email to your <%=@provider.titleize%> email address, <strong><%=@email%>
	</div>
</div>

<% end %>

