<% content_for :jumbotron do %>
  <div class="jumbotron" style="position:relative;">
    <div class="container">
      <div id="jumbotron-image-container">
        <%= image_tag("jumbotron.jpg", :id => "jumbotron-image") %>
        <div class="jumbotron-fade"></div>
      </div>
        <h1>Get fast, actionable feedback<br/> from classmates <span id="class-types"><u>to learn better</u></span></h1>
        <div class="login-btn-container center-block">
          <%= render partial:"devise/sessions/login_buttons" %>
          <br/>
          <a href="#" class="enable-password-login">(Or log in with your password)</a>
        </div>
    </div>
  </div>
<% end %>
<div class="row-fluid">
  <div class="story col-sm-9 col-md-6">
    <h2>What is Peerstudio?</h2>
    <p>Peerstudio is a free tool from Stanford and UC San Diego that makes it easy for students in a class to give each other feedback on assignments. It's designed so students get feedback that is fast and helpful for revision. Then, when you're done, you can turn in your final work, and have it assessed by peers. Watch this video to find out more. </p>
      <div style="margin: 0 auto;">
          <iframe width="640" height="390" src="//www.youtube.com/embed/lh1YLxs7cgU" frameborder="0" allowfullscreen></iframe>
      </div>
    <h2>I'm a teacher. Why should I use Peerstudio?</h2>
    <p>Here are three reasons</p>
    <ul>
      <li>Using Peerstudio, students can get feedback faster than teaching staff can provide. Often, students on Peerstudio get feedback in <em>minutes</em>, if not in hours. Getting feedback faster helps students make progress faster.</li>
      <li>With peer review and assessment, looking at peer work encourages students and sparks new ideas.</li>
      <li>When peers lead the feedback and assessment process, it frees instructors to set the standards for high-quality work and coach students. For instance, when students' grades depend on peer assessment, they're more likely to see teachers as mentors (instead of assessors), and creates more room for conversation.</li>
      <li>(Bonus!) Peerstudio uses the data from peer feedback and peer assessment to help you understand your class better. What are most students confused about? When they critique peer work, are they focusing on important aspects?
    </ul>

    <h2>I teach a MOOC. Can I use PeerStudio with Coursera and/or OpenEdX?</h2>
    <p>Yes. <a href="//www.coursera.org/course/learning">One class on Coursera</a> has used it already, and other classes on both platforms are planning to use it.</p>

    <h2>Do you use LTI?</h2>
    <p>Yes. LTI is a standard that allows, for instance, grades on Peerstudio to be passed back to other systems, e.g. Coursera or OpenEdX. When a class uses LTI, grades are automatically sent back (no programming required), and students can log in with their existing credentials. </p>

    <h2>What makes Peerstudio different from other systems?</h2>
    <p>While there are many <a href="http://help.coursera.org/customer/portal/articles/1163294-how-do-peer-assessments-work-">excellent</a> <a href="http://cpr.molsci.ucla.edu/Home.aspx">peer assessment</a> systems, here are key differences:</p>
    <ul>
      <li>We built Peerstudio with a focus on speed, and on improvement-oriented comments. Peerstudio scaffolds students so they can provide great feedback, even when they are still working on an assignment themselves.</li>
      <li>Peerstudio explicitly supports and encourages revision.We think students do their best work when they have excellent feedback, and an opportunity to revise <em> before they are graded</em>. For example, in your writing class, students can first get feedback on an outline, and revise their drafts a couple times before submitting their best work.</li>
      <li>Peerstudio is data-driven. For instance, we use data to decide what reviewing tips to show students questions to show while reviewing, or which assessment items to seek comments on.</li>
    </ul>

    <p>Like other assessment and grading systems, Peerstudio allows staff oversight into final grading, due dates etc. </p>
    
    <h2>What do teachers who've used Peerstudio say about it?</h2>
    <p>Here are two reactions</p>
    <div class="row">
      <div class="col-lg-3">
        <%= image_tag("hutchins.jpg", :class => "img-circle pull-right", :style => "width:91px; height:91px;") %>
      </div>
      <div class="col-lg-9">
        <blockquote>
          <p class="lead">PeerStudio focuses on providing the support students need to create the very best projects they can.</p>
          <footer>Edwin Hutchins, Professor in Cognitive Science, UCSD</footer>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <%= image_tag("irani.jpg", :class => "img-circle pull-right", :style => "width:91px; height:91px;") %>
      </div>
      <div class="col-lg-9">
        <blockquote>
          <p class="lead">PeerStudio got my students writing, teaching, talking, and moving in class. They came to me surprised to read their peers' work, challenged to offer constructive feedback, and excited to edit their writing craft. Structured but open-ended rubrics let me scaffold the process, allowing them to develop a sensibility for what quality work looks like. </p>
          <footer>Lilly Irani, Assistant Professor in Communication, UCSD</footer>
        </blockquote>
      </div>
    </div>

    <h2>Who's used Peerstudio?</h2>
    <p>So far, <%= @user_count %> students have used Peerstudio in <%= @courses.count %> classes. </p>
      <style>
        .row_header {
          font-weight: 700;
          font-size: 10pt;
          text-align: right;
          padding-right: 10px;
          vertical-align: top;
        }

        .thumbnails > li {
          /*display: inline-block;*/
          vertical-align: top;
          margin:20px;
        }
        .scroll-horizontal {
          overflow-x: scroll;
          width: 100%
        }
      </style>
      <div class="scroll-horizontal">
        <div style="width: <%= 385*@courses.count %>px;">
          <ul class="list-inline">
            <% @courses.each do |course| %>
                <%= render :partial => 'courses/course_box', :locals => { :course => course } %>
            <% end %>
          </ul>
        </div>
      </div>
    <h2>What does Peerstudio cost?</h2>
    <p>Peerstudio is a research project, and is free both for teachers and students.</p>
    <h2>I'd like to use Peerstudio in the class I teach!</h2>
      <p>Please <%= link_to "contact us", welcome_contact_path, title: "Use Peerstudio in your own class" %> by filling out this form, and we'll get in touch. Please email us at <%= mail_to "hello@peerstudio.org", "hello@peerstudio.org" %> if you have other questions. </p>
    <h2>Who's behind Peerstudio?</h2>
    <p>Here's information <%= link_to "about us", about_courses_path %>.
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var class_types = ["on writing",
    "on design",
    "on research papers",
    "on art",
    "on making videos",
    "to learn better"];
    var i =0;
    $('span#class-types').show('slow');
    var refreshBanner = window.setInterval(function() {
      if(i >= class_types.length) {return;}
      $('span#class-types').text(class_types[i++ % class_types.length]).show('slow');
      if(i === class_types.length) {$('span#class-types').addClass('highlighted');
        window.clearInterval(refreshBanner);
      }
    },1500);
  });
</script>