<strong>Attached files</strong><br/>
<% answer.versions.each do |version| %>
	<legend><small><%= version.revision_name %></small></legend>
	<div <%= "class=shaded" if version==answer %>>

	  <% version.attached_assets.each do |a| %>
	    <% if !a.asset.content_type.blank? and a.asset.content_type.include? "image" %>
	      <%=image_tag (a.asset.url :original), width: "200px", height: "200px" %>
	    <% else %>
	      <strong><a href="<%=a.asset.url %>" target="_blank"%><%= a.asset.original_filename %></a></strong>
	    <% end %>
	    <input type="text" class="selectAll" value="<%=a.asset.url %>"> <br/>
	  <% end %>
	</div>
<% end -%>
