<strong>Attached files</strong><br/>
<% answer.versions.each do |version| %>
	<legend><%= version.revision_name %></legend>
	<div <%= "class=shaded" if version==answer %>>

	  <% version.attached_assets.each do |a| %>
	    <% if a.asset.content_type.include? "image" %>
	      <%=image_tag a.asset.url :thumb %>
	    <% else %>
	      <strong><a href="<%=a.asset.url %>" target="_blank"%><%= a.asset.original_filename %></a></strong>
	    <% end %>
	    <input type="text" class="selectAll" value="<%=a.asset.url %>"> <br/>
	  <% end %>
	</div>
<% end -%>
