<%= form_for([@assignment,@answer], remote: true) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="assignment_instructions">
    <h1><%= link_to @answer.assignment.title, @answer.assignment %></h1>

    <div class="assignment-description">
      <%= sanitize @answer.assignment.description %>
    </div>
  </div>
  <hr style="margin: 20px 0;">
  <div class="row">
    <div class="assignment-rubric span4">
      <strong>Here's how this assignment will be assessed.</strong>
      <table>
        <tr>
          <td>Show reviews for &nbsp;</td>
          <td><div class="btn-group">
            <button type="button" class="btn dropdown-toggle active-revision" data-toggle="dropdown">
              <%= @answer.revision_name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% @answer.versions.each do |v| %>
              <li><%= link_to v.revision_name, answer_reviews_path(v), remote: true %></li>
              <% end %>
            </ul>
          </div></td>
        </tr>
      </table>
      <style type="text/css">
      .rubric {margin: 0;}
      .rubric li {list-style-type: none; background-color:#efefef; margin:20px 0; padding:10px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
      </style>
      <div class="assignment-rubric-content"%>
        <ul class="rubric">
          <% @answer.assignment.rubric_items.each do |r| %>
          <li>
            <strong><%= r.short_title %></strong> <span class="pull-right label">Max: <%=r.max %> <%= "(#{r.max_label})" unless r.max_label.blank?%></span><br/>
            <legend></legend>
            <%= sanitize r.title %>
            <table>
              <% r.answer_attributes.each do |a_attr| %>
                <tr>
                  <td style="vertical-align:top;"><input type="checkbox" disabled="disabled" style="margin:0 5px 0 0;"></td><td style="vertical-align:top;"><%= a_attr.description %></td>
                </tr>
              <% end %>
            </table>
          </li>
          <% end %>
        </ul>    
    </div>
    </div>

    <div class="field span8">
      <table>
        <tr>
          <td><%= f.label :revision_list, "<strong>Draft type</strong>&nbsp;".html_safe %></td>
          <td><%= f.select :revision_list, @answer.assignment.milestone_list %></td>
        </tr>
      </table>
      <%= f.text_area :response, size: "20x20", :id=>"answer_response", data: {provide: "markdown"}%>
      <div class="actions">
        <%= f.submit "Save Draft", class: "btn btn-default"%> <span class="label label-danger label-warning answer-save-status">Unsaved</em></span> <span class="answer_public_status"> 
        <% if @answer.in_progress? %>
        Will not auto-submit on deadline. <%= link_to "Auto-submit", autosubmit_answer_path(@answer,true), remote: true, method: :post,  data: {toggle: "popover"}, title: "You can continue to make changes till the deadline. On the deadline, you must manually submit the assignment."%>.</span>
        <% else %>
        Will auto-submit on deadline. <%= link_to "Don't auto-submit", autosubmit_answer_path(@answer,false), remote: true, method: :post,  data: {toggle: "popover"}, title: "You can continue to make changes till the deadline. On the deadline, the draft will be automatically submitted. If you don't want to submit unfinished work, choose don't auto-submit."%>.</span>

        <% end %>
        </div>
      <div id="attachments">
        <%= render partial: "attachments", locals: {answer: @answer} %>
      </div>
      <button class="upload btn">Attach a file</button> <span id="attachment_progress" style="font-style: italic; display:none;">Uploading attachment...</span><br/>
        
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :question_id %><br>
      <%= f.number_field :question_id %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :predicted_score %><br>
      <%= f.text_field :predicted_score %>
    </div>
    <div class="field">
      <%= f.label :current_score %><br>
      <%= f.text_field :current_score %>
    </div>
    <div class="field">
      <%= f.label :evaluations_wanted %><br>
      <%= f.number_field :evaluations_wanted %>
    </div>
    <div class="field">
      <%= f.label :total_evaluations %><br>
      <%= f.number_field :total_evaluations %>
    </div>
    <div class="field">
      <%= f.label :confidence %><br>
      <%= f.text_field :confidence %>
    </div>
  <% end -%>
<script type="text/javascript">
$().ready(function(){  $('[data-toggle=popover]').popover({trigger:'hover'});});</script>
<% end %>
