  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% content_for :local_nav do %>
      <li><%= link_to "Show assignment instructions", @answer.assignment, target: "_blank" %></li>
    <% end -%>
  
      <% content_for :context_menu do %>
      <div class="assignment-rubric">
      <div class="btn-group">
        <button type="button" href="#evaluation" class="btn btn-default active">Evaluation</button>
        <button type="button" href="#evaluation" class="btn btn-default">Previous reviews</button>
      </div>
      <div class="tab-pane active" id="evaluation">
        <div class="assignment-rubric-static"%>
          <ul class="rubric">
            <% @answer.assignment.rubric_items.each do |r| %>
            
            <li>
              <strong><%= r.short_title %> <%= "- not included in final grade" unless r.show_for_final? %></strong> <span class="pull-right label"><%= "(#{r.max_label})" unless r.max_label.blank?%></span><br/>
              <legend></legend>
              <%= sanitize r.title %>
              <table>
                <% r.answer_attributes.each do |a_attr| %>
                  <tr>
                    <td style="vertical-align:top;">
                      <% if a_attr.attribute_type == "binary"%>
                      <input type="checkbox" disabled="disabled" style="margin:0 5px 0 0;"><% end %>
                    </td><td style="vertical-align:top;"><%= a_attr.description %>
                  <% unless a_attr.example.blank? %>
                    (<a href="#" class="see-example" data-example="example-<%=a_attr.id%>">See example</a>)
                    <div class="hidden" id="example-<%=a_attr.id%>">
                      <%= a_attr.example %>
                    </div>
                  <% end %>
                </td>

                  </tr>
                <% end %>
              </table>
            </li>
            <% end %>
          </ul>    
        </div>
      </div>
        <div class="tab-pane" id="reviews">
          Show reviews for &nbsp;
            <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle active-revision" data-toggle="dropdown">
                    <%= @answer.revision_name %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <% @answer.versions.each do |v| %>
                    <li><%= link_to v.revision_name, answer_reviews_path(v), remote: true %></li>
                    <% end %>
                  </ul>
            </div>
          <div class="assignment-rubric-content">
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row-fluid">
      <%= form_for([@assignment,@answer], remote: true) do |f| %>      
        <div class="actions">
          <% if @answer.submitted? %>
          You submitted this answer for a review, so you can't change it anymore. 
          <% else %>
          <%= f.submit "Save Draft", class: "btn btn-default"%> <span class="label label-danger answer-save-status">Unsaved</em></span> <span class="answer_public_status"></span> 
          <% end %>
          <div class="navbar-right">
            <% if @answer.submitted? %>
            <%= link_to "Stop reviewing", unsubmit_for_feedback_answer_path, :class=>"btn btn-danger", :role=>"button", :method=>:post %>
            <% else %>
            <% seek_feedback_class = (@answer.assignment.due_at - Time.now > 1.day) ? "btn-primary": "btn-default" %>  
            <%= link_to "Get feedback on draft", submit_for_feedback_answer_path, :class=>"btn #{seek_feedback_class}", :role=>"button"%> 
            <% end %>
            <% unless @answer.is_final? %>
             <%= link_to "Submit for grading as final", submit_for_grades_answer_path, :class=>"btn btn-default", :role=>"button", method: :post %>
            <% end %>
        </div>
      
      </div>
      <div class="clearfix"></div>
        <%= f.text_area :response, size: "20x20", :id=>"answer_response", :class=>"editable" %>
      <% end %>
</div>
<script type="text/javascript">
$().ready(function(){  $('[data-toggle=popover]').popover({trigger:'hover'});});</script>

<% content_for(:modals) do %>
<div class="modal" id="example-review-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Here's an example submission that would score well</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back to reviewing</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>





