  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="page-header">
    <h1> <%= @answer.assignment.title %> <small><%= link_to "Show assignment instructions", @answer.assignment %></small></h1>
    </div>
  
      <% content_for :context_menu do %>
      <div class="assignment-rubric">
      <div class="btn-group">
        <button type="button" href="#evaluation" class="btn btn-default active">Evaluation</button>
        <button type="button" href="#evaluation" class="btn btn-default">Previous reviews</button>
      </div>
      <div class="tab-pane active" id="evaluation">
        <div class="assignment-rubric-static"%>
          <ul class="rubric">
            <% @answer.assignment.rubric_items.each do |r| %>
            <% if r.open_at < Time.now and r.ends_at > Time.now %>
            <li>
              <strong><%= r.short_title %></strong> <span class="pull-right label"><%= "(#{r.max_label})" unless r.max_label.blank?%></span><br/>
              <legend></legend>
              <%= sanitize r.title %>
              <table>
                <% r.answer_attributes.each do |a_attr| %>
                  <tr>
                    <td style="vertical-align:top;"><input type="checkbox" disabled="disabled" style="margin:0 5px 0 0;"></td><td style="vertical-align:top;"><%= a_attr.description %></td>
                  </tr>
                <% end %>
              </table>
            </li>
            <% end %>
            <% end %>
          </ul>    
        </div>
      </div>
        <div class="tab-pane" id="reviews">
          Show reviews for &nbsp;
            <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle active-revision" data-toggle="dropdown">
                    <%= @answer.revision_name %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <% @answer.versions.each do |v| %>
                    <li><%= link_to v.revision_name, answer_reviews_path(v), remote: true %></li>
                    <% end %>
                  </ul>
            </div>
          <div class="assignment-rubric-content">
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row-fluid">
      <%= form_for([@assignment,@answer], remote: true) do |f| %>
      <legend><%= @answer.revision_name %></legend>
      
        <div class="actions">
          <% if @answer.submitted? %>
          You submitted this answer for a review, so you can't change it anymore. 
          <% else %>
          <%= f.submit "Save Draft", class: "btn btn-default"%> <span class="label label-danger label-warning answer-save-status">Unsaved</em></span> <span class="answer_public_status"> 
          <% end %>
          <div class="navbar-right">
            <% unless @answer.submitted? %>
            <%= link_to "Get feedback on draft", submit_for_feedback_answer_path, :class=>"btn btn-success", :role=>"button", :method=>:post %>
            <% else %>
             <%= link_to "Stop reviewing", unsubmit_for_feedback_answer_path, :class=>"btn btn-danger", :role=>"button", :method=>:post %>
            <% end %>
            <%= link_to "Submit for grading as final", submit_for_grades_answer_path, :class=>"btn btn-primary", :role=>"button" %>
        </div>
      
      </div>
      <div class="clearfix"></div>
        <%= f.text_area :response, size: "20x20", :id=>"answer_response", :class=>"editable" %>
      <% end %>
</div>
<script type="text/javascript">
$().ready(function(){  $('[data-toggle=popover]').popover({trigger:'hover'});});</script>







