<h1>What would you most like feedback on?</h1>


<div class="row-fluid">
  <div class="col-sm-12 col-md-9">
    <div class="well">
      <p>Since this is an early draft, some parts may be more "under-construction" than others. Help your classmates focus what they give you feedback on.</p>
      <h4>We recommend you say...</h4>
      <ul>
        <li>What parts of your submission do you most need help on?</li>
        <li>What parts are under construction?</li>
      </ul>
    </div>
<%= form_for @answer, url: submit_for_feedback_answer_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :review_request, "Request for reviewers" %>
      <%= f.text_area :review_request, class:"form-control", placeholder:"Can you tell me if I am going in the right direction for..." %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="actions col-sm-12 col-md-9">        
    <div class="navbar-right">
      <%= link_to "Cancel reviewing", edit_answer_path, :class=>"btn btn-danger", :role=>"button" %>
      <%= f.submit "Get feedback on draft", :class=>"btn btn-success", :role=>"button" %>
    </div>
  </div>
</div>
<% end %>