<h1>Pick the student you want to review</h1>
<table class="table">
  <thead>
    <tr>
      <th>Student name</th>
      <th>Revision Name</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
          <% next if answer.user.nil? %>
    <tr class="<%= 'faded' unless answer.is_latest_revision? %>">
      <td><%= answer.user.name %></td>
      <td><%= answer.revision_name %></td>
      <td>
        <% unless answer.is_latest_revision? %>
        <%= link_to "Start new review", new_answer_review_path(answer), data: { confirm: 'You are going to review an outdated draft of this submission. Are you sure?' } %>
        <% else %>
        <%= link_to "Start new review", new_answer_review_path(answer) %>
        <% end %>
        </td>
    </tr>
    <% end %> 
  </tbody>
</table>