<%= render partial: "reviews/list_multiple", locals: {answer: @answer,feedback_items_by_rubric_item: @answer.feedback_items_by_rubric_item, show_revision_link: false} %>

<div class="page_title">
	<h1>Reflect on feedback</h1>
</div>

<div class="row-fluid">
	<p>Before you revise your draft, it might be helpful to reflect upon what you want to change. <strong>Remember,</strong></p>
	<!-- This is based on Geoff Cohen's wise feedback suggestions: http://psp.sagepub.com/content/25/10/1302.full.pdf+html -->
	<ul>
		<li>The rubrics (and your peers) hold you to a high standard. Meeting this standard is challenging, but it's also rewarding. </li>
		<li>By creating an early draft and asking for feedback on it, you've already demonstrated that you can meet this high standard. Now, reflect on your feedback and decide what you want to revise.</li>
	</ul>
</div>
<div class="row-fluid">
	<%= form_for([@assignment,@answer], remote: false, url: clone_answer_path(@answer), method: :post) do |f| %>
	<div class="form-group">
		<%= f.label :reflection, "My reflections on feedback, and what I want to revise" %>
		<%= f.text_area :reflection, class: "form-control expandable" %>

	</div>
		<%= f.submit "Save reflections and revise submission", class: "btn btn-primary" %>
	<% end %>
</div>