<%= render partial: "reviews/list_multiple", locals: {answer: @answer,feedback_items_by_rubric_item: @answer.feedback_items_by_rubric_item, show_revision_link: false} %>

<div class="page_title">
	<h1>Revise draft</h1>
</div>

<%= form_for([@assignment,@answer], remote: false, url: clone_answer_path(@answer), method: :post) do |f| %>

<div class="row-fluid">


	<div class="form-group">
		<h4>1. Overall, did you get useful feedback on your draft? <small>This information also helps us improve Peerstudio</small></h4>
    <div class="radio">
      <%= f.label :useful_feedback_true do %>
        <%= f.radio_button :useful_feedback, true, value: true -%>Yes
      <% end %>
    </div>
    <div class="radio">
     <%= f.label :useful_feedback_false do %>
      <%= f.radio_button :useful_feedback, false, value: false %> No
     <% end %>
    </div>
    
  	</div>
</div>
	<div class="hide-on-choose">
		<strong><p>Please choose Yes or No to continue</p></strong>
	</div>
  	<div class="reflect-instructions row-fluid" style="display:none;	">
		<h4>2. Ok, as you revise, remember,</h4>
		<!-- This is based on Geoff Cohen's wise feedback suggestions: http://psp.sagepub.com/content/25/10/1302.full.pdf+html -->
		<ul>
			<li>The rubrics hold you to a high standard. Meeting this standard is challenging, but it's also rewarding. </li>
			<li>By creating an early draft and asking for feedback on it, you've already demonstrated that you can meet this high standard. </li>
			<li class="feedback-useful" style="display:none;">Now, reflect on your answer, your feedback, as well as other submissions you have reviewed and think about what you want to revise. </li>
			<li class="feedback-not-useful" style="display:none;">Even if you didn't receive good feedback, you can still "self-assess", and use other submissions you have reviewed to think about what you want to revise. </li>
		</ul>
		
		<div class="row-fluid">
			<div class="form-group">
				<%= f.label :reflection, "My reflections on feedback, and what I want to revise" %>
				<%= f.text_area :reflection, class: "form-control expandable" %>

			</div>
				<%= f.submit "Save reflections and revise submission", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
<script type="text/javascript">
	$('#answer_useful_feedback_true').click(function() {
		$('.reflect-instructions').show();
		$('.feedback-useful').show();
		$('.feedback-not-useful').hide();
		$('.hide-on-choose').hide();
	});

	$('#answer_useful_feedback_false').click(function() {
		$('.reflect-instructions').show();
		$('.feedback-useful').hide();
		$('.feedback-not-useful').show();
		$('.hide-on-choose').hide();
	});

</script>