<div class="row-fluid omniauth-login">
    <%= link_to omniauth_authorize_path(resource,"coursera"), :class=> "btn btn-lg btn-primary btn-block login_button" do %>
      1-click sign-in with <%= image_tag "coursera_white.svg" %> <br/>
      <div class="login-progress" style="display:none;"><small>(Signing in...)</small></div>
    <% end %>
    <br/>
    <%= link_to omniauth_authorize_path(resource,"stanford"), :class=> "btn btn-lg btn-danger btn-block login_button" do %>
      1-click sign-in with <span style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold'">Stanford ONLINE</span> <br/>
      <div class="login-progress" style="display:none;"><small>(Signing in...)</small></div>
    <% end %>
</div>

<div class="row-fluid password-login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="well">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="checkbox">
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> Remember me
        <% end %>
      <% end -%>
    </div>

    <div class="form-group">
        <%= f.submit "Sign in", :class => 'btn btn-primary' %>
        
    </div>

    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>