<div class="row-fluid omniauth-login">
  <div class="well">
    Coursera sign in is temporarily unavailable. Please click '<%= link_to "Forgot password", new_user_password_path %>' and we'll email you a way to login with a password. Please use your Coursera email address.

    Then,<a href="#" class="enable-password-login">log in with the  password you created.</a>
  </div>
    <br/>
    <%= link_to omniauth_authorize_path(resource,"stanford"), :class=> "btn btn-lg btn-danger btn-block login_button" do %>
      1-click sign-in with <span style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold'">Stanford ONLINE</span> <br/>
      <div class="login-progress" style="display:none;"><small>(Signing in...)</small></div>
    <% end %>
</div>

<div class="row-fluid password-login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="well">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="checkbox">
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> Remember me
        <% end %>
      <% end -%>
    </div>

    <div class="form-group">
        <%= f.submit "Sign in", :class => 'btn btn-primary' %>
        
    </div>
  <script type="text/javascript">
  // $(document).on('ready page:load', function() {
  //   $('.login-coursera').click(function(){
  //     alert("Sorry, Coursera logins are temporarily broken. Please click 'Forgot password' and we'll email you a way to login with a password. Please use your Coursera email address.");
  //     return false;
  //   })
  // });
  </script>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>