<li class="<%= " faded" if course.ended? %>">
  <a <% unless course.ended? %> href="<%=course_path(course) %>" <% end %> class="thumbnail" style="padding: 0; height: 325px; width:370px; overflow: hidden;">
    <div class="image" style="height: 140px; background-image: url(<%= course.photo.url %>); background-repeat:no-repeat; background-size:100%;"></div>
    <div style="padding: 10px;">
      <b style="line-height: 25px" class="title"><%= course.title %></b>
      <% if course.ended? %>
      	<span style="color: #3f3f3f; font-weight: 700; font-size: 14pt;">&nbsp;&nbsp;&#8212;&nbsp;&nbsp;ENDED</span>
      <% end %>
      <legend></legend>
      <table style="color:#3f3f3f">
        <tr>
          <td class="row_header">
            INSTRUCTOR
          </td>
          <td>
            <%= course.instructor_name %>
          </td>
        </tr>
        <tr>
          <td class="row_header">
            UNIVERSITY
          </td>
          <td>
            <%= course.institution %>
          </td>        
        </tr>
      </table>
    </div>
  </a>
</li>