<div class="row-fluid">
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row-fluid">
  <%= form_for(@course) do |f| %>

  <div class="col-sm-4">
    <ul class="thumbnails" style="padding-left: 0px;">
    <style>
      .row_header {
        font-weight: 700;
        font-size: 10pt;
        text-align: right;
        padding-right: 10px;
        vertical-align: top;
      }

      .thumbnails > li {
        margin-left: 0px;
      }
    </style>

    <li class="<%= " faded" if @course.ended? %>">
      <div class="thumbnail" style="padding: 0; height: 325px; width:370px; overflow: hidden;">
        <div class="image" style="height: 140px; background-image: url(<%=@course.photo.url %>); background-repeat:no-repeat; background-size:100%;">
          <%= f.label :photo, "Change course image" %><br>
          <%= f.file_field :photo %>
        </div>
        <div style="padding: 10px;">
          <b style="line-height: 25px" class="title"><%= f.text_field :title , placeholder: "Course title"%></b>
          <% if @course.ended? %>
            <span style="color: #3f3f3f; font-weight: 700; font-size: 14pt;">&nbsp;&nbsp;&#8212;&nbsp;&nbsp;ENDED</span>
          <% end %>
          <legend></legend>
          <table style="color:#3f3f3f">
            <tr>
              <td class="row_header">
                INSTRUCTOR
              </td>
              <td>
                <%= f.text_field :instructor_name, class:"form-control", placeholder: "Courtney Noh" %>
              </td>
            </tr>
            <tr>
              <td class="row_header">
                UNIVERSITY
              </td>
              <td>
                <%= f.text_field :institution, class:"form-control", placeholder: "Stanford University" %>
              </td>
            </tr>
          </table>
        </div>
      </a>
    </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="checkbox">
      <%= f.label :hidden do %>
        <%= f.check_box :hidden %> <strong>This course is hidden</strong> (Don't show it on the PeerStudio homepage)
      <% end %>
    </div>

    <div class="checkbox">
      <%= f.label :show_timer do %>
        <%= f.check_box :show_timer %> <strong>Show students an estimate of reviewing delay</strong>
        <div class="well">
          <p>Preview:</p>
            <%= render partial: "reviewing_delay", locals:{assignment: nil} %>
        </div>
      <% end %>
    </div>
    <div class="checkbox">
      <%= f.label :open_enrollment do %>
        <%= f.check_box :open_enrollment %> <strong>This class is now active</strong> (students can submit work)
      <% end %>
    </div>
        <div class="checkbox">
      <%= f.label :early_feedback_only do %>
        <%= f.check_box :early_feedback_only %> <strong>Only use PeerStudio for early feedback </strong> (students submit final work elsewhere)
      <% end %>
    </div>
        <div class="checkbox">
      <%= f.label :waitlist_condition do %>
        <%= f.check_box :waitlist_condition %> <strong>This class has a waitlist for students</strong> (for research!)
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :forum_link do %>
        Help forum URL <small>(Set up a forum on your class page for peer assessment questions, and save the link here)</small>
      <%end%>
      <%= f.url_field :forum_link, class:"form-control", placeholder:"https://..." %>
    </div>

    <div class="form-group">
      <%= f.label :consumer_key do %>
        LTI Consumer key <small>(Use this to set up pushing grades to coursera/edx/etc.)</small>
      <%end%>
      <%= f.text_field :consumer_key, class:"form-control", placeholder:"coursera_course_title" %>
      <%= f.label :consumer_secret do %>
        LTI Consumer secret<small>(Use this to set up pushing grades to coursera/edx/etc.)</small>
      <%end%>
      <div class="row-fluid">
        <%= f.text_field :consumer_secret, class:"form-control", disabled:"disabled", placeholder:"Click regenerate to set" %>
        <% unless @course.id.nil? %>
          <%= link_to "Regenerate secret", regenerate_consumer_secret_course_path(@course), class:"btn btn-default ", method: :post %>
        <% else %>
          <%= link_to "Regenerate secret (save course first)", "#", class:"btn btn-default", disabled:"disabled" %>
        <% end %>
      </div>

    </div>


    <p>Change who is on the <%= link_to "teaching staff", instructor_list_course_path(@course) %>.</p>
    <div class="form-group">
      <%= f.submit :"class"=> "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>
