<p id="notice"><%= notice %></p>

<div class="row">
  <ul style="float:left; margin-right: 10px;">
  <%= render :partial => 'course_box', :locals=>{:course => @course} %>
  </ul>
  <% if user_signed_in? && current_user.admin? %>
  <p class="lead">This course is <strong><%= @course.hidden? ? "hidden from students" : "visible to students"%></strong>, and is currently <strong><%= @course.open_enrollment? ? "open" : "closed" %> </strong> for enrollment. <%= link_to '(Modify)', edit_course_path(@course) %> </p> 
  <% end %>
</div>

<div class="row">
  <h2>Assignments</h2>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due at</th>
      <th>Open at</th>
      <% if user_signed_in? && current_user.admin? %>
      <th colspan="2"><%= link_to "Add assignment", new_course_assignment_path(@course), class: "btn btn-success"%> </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @course.assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.title, assignment %></td>
        <td><%= truncate (sanitize assignment.description), length: 200, escape: false %></td>
        <td><%= assignment.due_at %></td>
        <td><%= assignment.open_at %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>