<h2>Step 1: Assess (<%= @completed_assessments + 1%> of 4 evaluations)<br/>
<% if @completed_assessments > 4 and current_user.experimental_condition == "verify"%>
	<h4>Note: Required assessments completed for this question. You can now go to the <%= link_to "Verify assessments", grade_verification_path(@question.id) %> page. </span></h4>
<% elsif @completed_assessments > 4 and current_user.experimental_condition == "identify" %>
<h4>Note: Required assessments completed for this question. You can now assess the next question from the <%= link_to "home page", root_path %> </span></h4>
<% end %>
</h2>
<p class="lead"><strong>Question:</strong> <%= @question.title %></p>
<p><strong>Answer guide:</strong> <%= @question.explanation %></p>
<%= form_for @evaluation, :url=>create_grade_identification_path, html: {:id=>"grading_form"} do |f| %>
<div class="well"><p class="lead"><strong>Student answer:</strong> <%= @answer.response%></p></div>


Below, choose which attributes apply to this answer---<strong>you can choose both correct and incorrect attributes</strong>, which may result in partial credit.</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseIncorrect">
          First, check if the answer has any incorrect attributes
        </a>
      </h4>
    </div>
    <div id="collapseIncorrect" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Here are some common attributes of an <strong>incorrect</strong> answer. Select ones that apply.</p>
	<%= f.collection_check_boxes :answer_attribute, @incorrect_attributes, :id, :description  do |b|
		b.label {b.check_box(:class=>"incorrect-check") + " " + b.text}
	end %>
		<!-- <button class="pickCorrect btn btn-primary">Next</button> -->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseCorrect">
          Then, check if the answer has correct attributes <i class="icon-chevron-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseCorrect" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Here are some common attributes of a <strong>correct</strong> answer. Select ones that apply.</p>
    		<%= f.collection_check_boxes :answer_attribute, @correct_attributes, :id, :description do |b|
    			b.label {b.check_box(:class=>"correct-check") + " " + b.text}
    		end %>

      <!-- <button class="btn pickIncorrect">Back</button> | <button class="btn addComments btn-primary">Next</button> -->
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseComments">
          Finally, add comments and submit <i class="icon-chevron-down"></i>
        </a>
      </h4>
    </div>
    <div id="collapseComments" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong> Comments for your classmate? </strong></p>
        <%= text_area_tag :comments, nil, {:placeholder => "Optionally add a comment to explain your assessment to the student.", :style=> "width: 500px;"} %> <div class="clearfix"></div>
        <br/>
        <div class="clearfix"></div>
        <!-- <button class="btn pickCorrect">Back</button> |  -->
        <%= submit_tag "Submit evaluation", :class=>"btn btn-primary"%> 
      </div>
    </div>
  </div>
</div>


<!-- Other required attributes -->
<%= f.hidden_field :question_id %>
<%= f.hidden_field :answer_id %>
<%= hidden_field_tag :start_assessment_time, Time.now %>

<% end %>