<h2>Step 1: Identify (<%= @completed_assessments + 1%> of 4 evaluations)<br/><h4>Note: Required assessments completed. You can now go to the <%= link_to "Verify assessments", grade_verification_path(@question.id) %> page. </span></h4></h2>

<p class="lead"><strong>Question:</strong> <%= @question.title %></p>
<p><strong>Answer guide:</strong> <%= @question.explanation %></p>
<%= form_for @evaluation, :url=>create_grade_identification_path do |f| %>
<div class="well"><p class="lead"><strong>Student answer:</strong> <%= @answer.response%></p></div>


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseIncorrect">
          Common incorrect attributes
        </a>
      </h4>
    </div>
    <div id="collapseIncorrect" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Here are some common attributes of an <strong>incorrect</strong> answer. Select ones that apply.</p>
	<%= f.collection_check_boxes :answer_attribute, @incorrect_attributes, :id, :description  do |b|
		b.label {b.check_box(:class=>"incorrect-check") + " " + b.text}
	end %>
		<button id="pickCorrect" class="btn">None of the above errors</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseCorrect">
          Common correct attributes
        </a>
      </h4>
    </div>
    <div id="collapseCorrect" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Here are some common attributes of a <strong>correct</strong> answer. Select ones that apply.</p>
		<%= f.collection_check_boxes :answer_attribute, @correct_attributes, :id, :description do |b|
			b.label {b.check_box(:class=>"correct-check") + " " + b.text}
		end %>

		<p><strong> Comments for your classmate? </strong></p>
		<%= text_area_tag :comments, nil, {:placeholder => "Optionally add a comment to explain your assessment to the student.", :style=> "width: 500px;"} %> <div class="clearfix"></div>

      </div>
    </div>
  </div>
</div>


<!-- Other required attributes -->
<%= f.hidden_field :question_id %>
<%= f.hidden_field :answer_id %>


<%= submit_tag "Submit evaluation", :class=>"btn btn-primary"%>
<% end %>