
<h2>How to grade</h2>
<% if current_user.experimental_condition == "verify" %>
<p>Evaluation consists of two steps:</p>
<ol>
<li> You'll grade four of your classmates' work (assessment)</li>
<li>You'll be given 8 assignments, and verity they are correct (verification)</li>
</ol>
<p>Your answers will go through a similar two step evaluation process. When this evaluation completes, and when you complete these two steps, you'll be able to see your grades on this page, and on the Coursera class site</p>
<% elsif current_user.experimental_condition == "identify" %>
<p>You'll grade four of your classmates (per question). For each question, we provide you a set of common correct and wrong answers to help you assess.</p>

<p>Your answers will go through a similar evaluation process. When this evaluation completes, and you complete your own assessments, you'll be able to see your grades on this page, and on the Coursera class site</p>
<% else %>
<p>You'll grade four of your classmates (per question). For each question, we provide you a set of common correct and wrong answers to help you assess.</p>

<p>Your answers will go through a similar evaluation process. When this evaluation completes, you'll be able to see your grades on this page, and on the Coursera class site</p>
<% end -%>
<div class="divider">Your assessments</div>


<table class="table table-hover">
<thead><tr><th>Question</th><th>Status</th><th>Actions</th></tr> </thead>
<tbody>
<% @questions.each do |q| %>
<tr>
<td><%= q.title %></td>
<% finished_evaluations = @completed_identifications_by_question[q.id].nil? ? 0 : @completed_identifications_by_question[q.id] 
	finished_verifications = @completed_verifications_by_question[q.id].nil? ? 0: @completed_verifications_by_question[q.id]
%>
<% if current_user.experimental_condition == "verify" %>
<td>
<% if finished_evaluations > 4 && finished_verifications > 4 %>
<span class="label label-success">COMPLETE</span>
<% else %>
<span class="label label-warning">NOT COMPLETE</span>
<% end %>

You need to assess <%= (4- finished_evaluations)>0 ? (4- finished_evaluations) : 0 %> classmates, and verify <%= (8- finished_verifications)>0 ? (8- finished_verifications) : 0 %>  assessments</td>

<% elsif current_user.experimental_condition == "identify" %>
<td><% if finished_evaluations > 4 %>
<span class="label label-success">COMPLETE</span>
<% else %>
<span class="label label-warning">NOT COMPLETE</span>
<% end %>
You need to assess <%= (4- finished_evaluations)>0 ? (4- finished_evaluations) : 0 %> classmates.</td>
<% else %>

<td>
<% if finished_evaluations > 4 %>
<span class="label label-success">COMPLETE</span>
<% else %>
<span class="label label-warning">NOT COMPLETE</span>
<% end %>

You need to assess <%= (4- finished_evaluations)>0 ? (4- finished_evaluations) : 0 %> classmates.</td>
<% end %>
<td>

<% if current_user.experimental_condition == "verify" %>
	<% if finished_evaluations < 4 %>
		<%= link_to "Grade now", grade_identification_path(q.id) %> 
	<% elsif finished_verifications < 8 %>
		<%= link_to "Verify assessments", grade_verification_path(q.id) %> 	 
	<% else %>
		<%= link_to "Grade more submissions", grade_identification_path(q.id) %> | <%= link_to "Verify more assessments", grade_verification_path(q.id) %> 	 
 	<% end -%>
<% elsif current_user.experimental_condition == "identify" %>
	<% if finished_evaluations < 4 %>
		<%= link_to "Grade now", grade_identification_path(q.id) %> 
	<% else %>
		<%= link_to "Grade more submissions", grade_identification_path(q.id) %>
 	<% end -%>
<% else  %>
<!-- baseline -->
	<% if finished_evaluations < 4 %>
		<%= link_to "Grade now", grade_baseline_path(q.id) %> 
	<% else %>
		<%= link_to "Grade more submissions", grade_baseline_path(q.id) %>
 	<% end -%>
<% end -%>
</td>
</tr>
<% end %>
</tbody>

</table>

<div class="divider">Your grades</div>
<p>Your grades are still being computed. Please check back after Nov 5, 2013 10pm PST.</p>