
<div class="divider">Your assessments</div>

<% @questions.each do |q| %>
<table class="table table-hover">
<thead><tr><th>Question</th><th>Status</th><th>Actions</th></tr> </thead>
<tbody>
<tr>
<td><%= q.title %></td>
<% finished_evaluations = @completed_identifications_by_question[q.id].nil? ? 0 : @completed_identifications_by_question[q.id] 
	finished_verifications = @completed_verifications_by_question[q.id].nil? ? 0: @completed_verifications_by_question[q.id]
%>
<td>You need to assess <%= (4- finished_evaluations)>0 ? (4- finished_evaluations) : 0 %> classmates, and verify <%= (8- finished_verifications)>0 ? (8- finished_verifications) : 0 %>  assessments</td>
<td>
<% if finished_evaluations < 4 %>
<%= link_to "Grade now", grade_identification_path(q.id) %> 
<% elsif finished_verifications < 8 %>
<%= link_to "Verify assessments", grade_verification_path(q.id) %> 	 
<% else %>
<%= link_to "Grade more submissions", grade_identification_path(q.id) %> | <%= link_to "Verify more assessments", grade_verification_path(q.id) %> 	 
 <% end -%>

</td>
</tr>

</tbody>

</table>
<% end %>
<div class="divider">Your grades</div>
<p>Your grades are still being computed. Please check back later.</p>