<h2>Question 1: <h4><%=Question.find(1).title %></h4></h2>
<% if @answer_one.nil? %>
<p>We didn't find your answer for this Please fill out this form: <%=  link_to "Submit an appeal", appeal_grading_path(1) %>  (Of course, if you didn't write an answer, you can safely disregard this message.)</p>
<% else %>
<p><strong>Your answer</strong>: <%= @answer_one.response %></p>
	<% if @answer_one.state=="identify" %>
	<p>Sorry, we didn't get enough peer ratings for your answer. <%=  link_to "Submit a regrade request", appeal_grading_path(1) %> and self-assess yourself. We'll check your grade, but update it to your self grade in the meanwhile. 
	<% else %>
		<%if current_user.experimental_condition != "baseline" and !@evaluations_one.nil?%>
			<p>This answer was marked as:</p><ul>
			<% @evaluations_one.each do |e| %>
				
				<% next unless (e.score.nil? and e.verified_true_count >= e.verified_false_count and !e.answer_attribute.nil?) %>
				<% answer_attr = e.answer_attribute %>
				<li> <%if answer_attr.is_correct? %> <i class="icon-ok" style="color:green"></i> <% else %> <i class="icon-remove" style="color:red"></i><%end%> <%= answer_attr.description %></li>
			<% end %>
			</ul>
			<% if !@attributes_missing_one.nil? %>
				<p>Other correct answers were also frequently marked as:</p> 
				<ul>
					<% @attributes_missing_one.each do |a| %>
						<li><%= a.description %></li>
					<% end %>
				</ul>
			<% end %>

		<% end %>
		<p>Your grade is: <strong><%= @answer_one.current_score.nil? ? "not available" : @answer_one.current_score %> (out of 1.0)</strong>. <small>(Unacceptably unfair grade? <%=  link_to "Submit a regrade request", appeal_grading_path(@answer_one.question_id) %>)</small></p>

	<% end %>
<% end %> 
<h2>Question 2: <h4><%=Question.find(2).title %></h4></h2>
<div style="display:block;">
	<% if @answer_two.nil? %>
	<p>We didn't find your answer for this question in our database. Please fill out this form: <%=  link_to "Submit an appeal", appeal_grading_path(2) %>  (Of course, if you didn't write an answer, you can safely disregard this message.)</p>
	<% else %>
	<p><strong>Your answer</strong>: <%= @answer_two.response %></p>
		<% if @answer_two.state=="identify" %>
		<p>Sorry, we didn't get enough peer ratings for your answer. <%=  link_to "Submit a regrade request", appeal_grading_path(2) %> and self-assess yourself. We'll check your grade, but update it to your self grade in the meanwhile.</p>
		<% else %>
			<%if current_user.experimental_condition != "baseline" and !@evaluations_two.nil?%>
				<p>This answer was marked as:</p><ul>
				<% @evaluations_two.each do |e| %>
					
					<% next unless (e.score.nil? and e.verified_true_count >= e.verified_false_count) %>
					<% answer_attr = e.answer_attribute %>
					<li> <%if answer_attr.is_correct? %> <i class="icon-ok" style="color:green"></i> <% else %> <i class="icon-remove" style="color:red"></i><%end%> <%= answer_attr.description %></li>
				<% end %>
				</ul>

				<% if !@attributes_missing_two.nil? %>
					<p>Other correct answers were also frequently marked as:</p> 
					<ul>
						<% @attributes_missing_two.each do |a| %>
							<li><%= a.description %></li>
						<% end %>
					</ul>
				<% end %>
			<% end %>
			<p>Your grade is: <strong><%= @answer_two.current_score.nil? ? "not available" : @answer_two.current_score %> (out of 3.0)</strong>. <small>(Unacceptably unfair grade? <%=  link_to "Submit a regrade request", appeal_grading_path(@answer_two.question_id) %> Special case: please appeal your grade if you mentioned "More individual exploration" but had that marked as an incorrect attribute)</small></p>

		<% end %>
	<% end %>
</div>

<% @other_answers.each do |answer| %>
<h2>Question <%= Question.find(answer[:question_id]).id %>: <h4><%=Question.find(answer[:question_id]).title %></h4></h2>
<div style="display:block;">
	<% if answer[:answer].nil? %>
	<p>We didn't find your answer for this question in our database. Please fill out this form: <%=  link_to "Submit an appeal", appeal_grading_path(answer[:question_id]) %>  (Of course, if you didn't write an answer, you can safely disregard this message.) </p>
	<% else %>
	<p><strong>Your answer</strong>: <%= answer[:answer].response %></p>
		<% if answer[:grade].nil? %>
		<p>%>
	<p>Sorry, we didn't get enough peer ratings for your answer. <%=  link_to "Submit a regrade request", appeal_grading_path(answer[:question_id]) %> and self-assess yourself. We'll check your grade, but update it to your self grade in the meanwhile. </p>
		<% else %>
			<%if current_user.experimental_condition != "baseline" and !answer[:answer].nil?%>
				<p>This answer was marked as:</p><ul>
				<% answer[:evaluations].each do |e| %>
					
					<% next unless (e.score.nil? and e.verified_true_count > e.verified_false_count and e.verified_true_count > 0) %>
					<% answer_attr = e.answer_attribute %>
					<li> <%if answer_attr.is_correct? %> <i class="icon-ok" style="color:green"></i> <% else %> <i class="icon-remove" style="color:red"></i><%end%> <%= answer_attr.description %></li>
				<% end %>
				</ul>

				<% if !answer[:missing_attributes].nil? %>
					<p>Other correct answers were also frequently marked as:</p> 
					<ul>
						<% answer[:missing_attributes].each do |a| %>
							<li><%= a.description %></li>
						<% end %>
					</ul>
				<% end %>
			<% end %>
			<p>Your grade is: <strong><%= answer[:grade].nil? ? "not available" : answer[:grade] %> (out of <%= Question.find(answer[:question_id]).max_score%>)</strong>. <small>(Unacceptably unfair grade? <%=  link_to "Submit a regrade request", appeal_grading_path(answer[:answer].question_id) %>)</small></p>
		<% end %>
	<% end %>
<% end %>

<h2>Appeals</h2>
<% @appeals.each do |appeal| %>
	<strong>Question:</strong> <%= appeal.question.title %>
	<p>
	<%if appeal.accepted.nil? %>
		<span class="label">Pending</span> Your appeal is still being reviewed
	<% elsif appeal.accepted? %>
		<span class="label label-success">Approved</span> Your appeal was approved.
	<% else %>
		<span class="label label-important">Denied</span> Your appeal was denied. 
	<% end %>
	</p>
	<% unless appeal.instructor_comments.nil? %>
		<p>Instructor comments: <%= appeal.instructor_comments %>
	<% end %>
<% end %>