<% if @total_verification_count == 0 %>
<!-- Show guide for first time use -->
<script type="text/javascript">
(window.showVerificationTour = true);
</script>
<% end %>

<div id="gradingUI">

<!-- First, group all of the evaluations by the answer_attribute, show them all together -->
<h2 id="tour-launch">Step 2: Verification</h2>
<p>This is the second step of the grading process. Here, you'll see some answers, and their evaluations, as marked by your classmates. Please tell us if the evaluation, as marked, is correct.</p>

<p class="well question-title" id="question-title">Question: <%= @question.title%> </p>
<style type="text/css">
input[type="radio"], label{
     float:left;
    }
input{
 clear:left;
}</style>
<%= form_tag create_grade_verification_path do %>
<table class="table table-hover"><thead><tr><th colspan="2">Student answer</th><th>Is this assessment correct?</th></tr></thead>
	<tbody>
		<% @evaluations_grouped_by_attribute = @evaluations.group_by(&:answer_attribute_id) %>
		<% @evaluations_grouped_by_attribute.each do |answer_attribute_id, evaluations| %>
			<% next if answer_attribute_id.nil? %>
			<tr class="info"><td colspan="3"><strong><%= AnswerAttribute.find(answer_attribute_id).description %></strong></td></tr>
			<% evaluations.each do |evaluation| %>
				<% next if evaluation.answer.nil? %>
				<tr><td><span class="answer"><%= evaluation.answer.response %></span></td>
					<td colspan="1">marked as <strong class="answer-attribute"><%= AnswerAttribute.find(answer_attribute_id).description %></strong></td>
					<td class="assessment-options"> 
					<%= radio_button_tag "verification[#{evaluation.answer.id}]answer_attribute[#{answer_attribute_id}]", "correct" %> <%= label_tag "verification[#{evaluation.answer.id}]answer_attribute[#{answer_attribute_id}]_correct", "Yes" %> <%= radio_button_tag "verification[#{evaluation.answer.id}]answer_attribute[#{answer_attribute_id}]", "wrong" %> <%= label_tag "verification[#{evaluation.answer.id}]answer_attribute[#{answer_attribute_id}]_wrong", "No" %>
				</td></tr>
			<% end %>
		<%end%>
	</tbody>
</table>

<%= hidden_field_tag "question_id", @question.id %>
<%= hidden_field_tag :start_verification_time, Time.now %>
<%= submit_tag "Submit", :class=>"btn btn-primary" %>
<% end %>
</div>

<script type="text/javascript">
$(function() {
	$('#hideNotice').click(function() {
		$('#firstTimeHelp').hide();
		$('#gradingUI').show();
	});
});</script>