<div class="assignment_instructions">
    <h1><%= link_to answer.assignment.title, answer.assignment %>
    </h1>
    <div class="assignment-description">
      <%= sanitize answer.assignment.description %>
    </div>
</div>

<div class="navbar" id="instructor-actions">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Star answer", star_answer_path(answer), remote: true, class: "star_answer" %></li>
      <li><a href="#">Add to calibration set</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <%= render partial: "browser", locals: {answer: answer} %>

  <div class="field span8">
    <div class="edited-content">
      <%= sanitize answer.response unless answer.response.nil? %>
    </div>
  </div>
</div>
