<div class="assignment_instructions">
    <h1><%= link_to answer.assignment.title, answer.assignment %>
    </h1>
    <div class="assignment-description">
      <%= sanitize answer.assignment.description %>
    </div>
</div>

<div class="row">
  <div class="assignment-rubric">
    <div class="assignment-rubric-content"%>
        <%= yield %>
    </div>
  </div>

  <div class="field">
    <div class="edited-content">
      <%= sanitize Format.markdown answer.response unless answer.response.nil? %>

      <%= render partial:"answers/attachments", locals: {answer: answer} %>
    </div>
  </div>
</div>
