<%= content_for :title do %>
Reviewing <%= answer.assignment.title %>
<% end %>

<%= yield %>

<div class="page-header">
<h1> <%= answer.assignment.title %> <small><%= link_to "Show assignment instructions", answer.assignment %></small></h1>

</div>
<div class="row-fluid">

<% if !answer.assignment.example.nil?%>
  <div class="paper col-md-6">
  	<h3>Here's an example of excellent work</h3>
  	<p>Compare the student work on the right with this example, and see how your classmate can do better. </p>
    <div style="opacity: 0.6;"><%= sanitize Format.markdown answer.assignment.example %></div>
  </div>

  <div class="paper col-md-6">
    <%= sanitize Format.markdown answer.response unless answer.response.nil? %>
  </div>
<% else %>
  <div class="paper">
    <%= sanitize Format.markdown answer.response unless answer.response.nil? %>
  </div>
<% end %>
</div>
