<%= content_for :title do %>
Reviewing <%= answer.assignment.title %>
<% end %>
<div class="page-header">
<h1> <%= answer.assignment.title %> <small><%= link_to "Show assignment instructions", answer.assignment %></small></h1>
</div>
<div class="row">
    <%= sanitize Format.markdown answer.response unless answer.response.nil? %>

    <%= render partial:"answers/attachments", locals: {answer: answer} %>
</div>
