<div class="assignment_instructions">
    <h1><%= link_to answer.assignment.title, answer.assignment %>
    </h1>
</div>

<div class="row">
  <div class="assignment-rubric span4">
    <div class="assignment-rubric-content"%>
        <%= yield %>
    </div>

    <%= form_for(@review, url: create_rate_review_path(@review), method: :post) do |f| %>
    <% unless @review.review_type.blank?%>
      <p><strong><%= @review.review_type.capitalize%> review.</strong></p>
    <% end %>
    <p>Please answer honestly. Your feedback will be kept anonymous. How do you rate the following statements?</p>
    <%= f.label :accurate_rating, "\"The reviewer accurately assessed my work on this assignment\"" %>

     <%= f.select :accurate_rating, options_for_select([["strongly disagree",1], ["disagree", 2], ["somewhat disagree",3], ["somewhat agree",4], ["agree",5],
     ["strongly agree", "6"]]), prompt: "Choose one" %>
    
    <%= f.label :concrete_rating, "\"The reviewer provided concrete, actionable steps I can take to improve my  work in this class\""%>
     <%= f.select :concrete_rating, options_for_select([["strongly disagree",1], ["disagree", 2], ["somewhat disagree",3], ["somewhat agree",4], ["agree",5],
     ["strongly agree", "6"]]), prompt: "Choose one" %>
    
    <%= f.label :recognize_rating, "\"The reviewer helped me to recognize a problem with my work that I had not  before recognized\"" %>
    <%= f.select :recognize_rating, options_for_select([["strongly disagree",1], ["disagree", 2], ["somewhat disagree",3], ["somewhat agree",4], ["agree",5],
     ["strongly agree", "6"]]), prompt: "Choose one" %>
    
    <%=f.label :other_rating_comments, "Any other comments?" %>
    <%= f.text_area :other_rating_comments %>

    <%= f.submit "Submit and rate next review", class: "btn btn-primary" %>
    <%end %>




  </div>

  <div class="field span8">
    <div class="edited-content">
      <%= sanitize Format.markdown answer.response unless answer.response.nil? %>

      <%= render partial:"answers/attachments", locals: {answer: answer} %>
    </div>
  </div>
</div>
