<%= form_for([@answer,@review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Here's how this assignment should be assessed</p>
      <style type="text/css">
      .rubric {margin: 0;}
      .rubric li {list-style-type: none;}
      .like_wish {width: 364px;}
      </style>
      <ul class="rubric">
        <li>
          <%= f.fields_for :feedback_items do |r| %>
          <strong><%= r.object.rubric_item.short_title %></strong> <span class="pull-right label">Max: <%=r.object.rubric_item.max %> (<%= r.object.rubric_item.max_label%>)</span><br/>
          <legend></legend>
          <%= sanitize r.object.rubric_item.title %>

          <legend></legend>
          <% r.object.rubric_item.answer_attributes.each do |a_attr| %>
            <p><%=check_box_tag "rubric_item_#{a_attr.id}", a_attr.id, false, data: {score: a_attr.score}, :class=>"rubric_item"  %> <%=label_tag "rubric_item_#{a_attr.id}", a_attr.description %></p>
          <% end %>
            <%= r.label :like_feedback, "I like..." %>
            <%= r.text_area :like_feedback, size:"5x2", placeholder: "What do you like about this part?", class:"like_wish" %><br/>
            <%= r.hidden_field :rubric_item_id %>
            <%= r.label :wish_feedback, "I like..." %>
            <%= r.text_area :wish_feedback, placeholder: "What do you wish had been better?", class:"like_wish" %>
          <% if @review.answer.assignment.due_at < Time.now %>
            <%=# r.number_field :score 
            %>
          <% end %>
          <br/>
        </li>

        <% end %>
        <li><%= f.check_box :out_of_box_answer%><%= f.label :out_of_box_answer, "This is an excellent, out of the box answer." %> </li>
        <strong>Computed score: </strong><input type="text" readonly="readonly" value="" id="calculatedGrade"/>
      </ul>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>

