
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% content_for :context_menu do %>
  <%= form_for(@review, html: {:"class"=>"review-form"}) do |f| %>
      <ul class="rubric">
        <% if @review.review_type== "paired"%>
          <li>
              <strong>Who is your pair reviewing partner?</strong>
              <%= f.label :copilot_email, "Their email address (if not pair reviewing, leave blank)" %>
              <%= f.email_field :copilot_email, class:"input-block-level", placeholder:"your-partner@ucsd.edu" %>
          </li>
        <% end %>
        <%= f.fields_for :feedback_items do |r| %>
          <% next if r.object.rubric_item.nil? %>
          <li class="compute-score">
            <strong><%= r.object.rubric_item.short_title %></strong> <span class="pull-right badge"><%= "(#{r.object.rubric_item.max_label})" unless r.object.rubric_item.max_label.blank?%></span>
            
            <div class="progress score-progress"></div>

            <%= sanitize r.object.rubric_item.title %>

            <table>
                
              <%= r.collection_check_boxes(:answer_attribute_ids, AnswerAttribute.where(:rubric_item_id => r.object.rubric_item.id), :id, :description) do |b| %>
                <tr>

                <td style="vertical-align:top;"><%= b.label %>
                  <% unless b.object.example.blank? %>
                    (<a href="#" class="see-example" data-example="example-<%=b.object.id%>">See example</a>)
                    <div class="hidden" id="example-<%=b.object.id%>">
                      <%= b.object.example %>
                    </div>
                  <% end %>
                    <% if b.object.attribute_type=="binary" %>
                      <div class="btn-group btn-toggle"> 
                        <button class="btn btn-xs btn-default btn-checkbox-yes">Yes</button>
                        <%= b.check_box :style => "margin:0 5px 0 0;", class:"toggle-checkbox", "data-score"=> b.object.score%>
                        <button class="btn btn-xs btn-default btn-checkbox-no">No</button>
                      </div>
                    <% else %>
                      <div class="scale"><%= b.check_box class:"scale-checkbox" %>
                        <input type="text" id="answer_attribute_weight_<%=b.object.id%>" name="review[answer_attribute_weights][<%=b.object.id%>][weight]" value="<%= @review.answer_attribute_weight(b.object.id)%>" data-score="<%=b.object.score %>" data-options="<%= b.object.attribute_type%>" class="scale-slider"></input>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <table>
            <tr>
              <div style="padding-top:1em;">
                <td style="vertical-align:top; padding: 0 4px 0 0;"><%= r.check_box :miscommunication %> </td>
                <td style="vertical-align:top;"><%= r.label :miscommunication, "This section of the student submission was unclear." %><small> You can suggest improvements at the end of the entire rubric, in "Overall Comments".</small></td>
              </div>
            </tr>
          </table>
            <%= r.label :like_feedback, "Suggest improvements for this section. Be specific; use explanations and examples!", style: "margin-top:1em" %>
            <%= r.text_area :like_feedback, size: "10x3", placeholder: "Your work could improve _______ by doing __________. An example of this is __________.", class:"form-control expandable" %>
            <%= r.hidden_field :rubric_item_id %>
          </li>
        <% end %>
        <li>
          <strong>Overall comments</strong> 
          <legend></legend>
          <%= f.label :comments, "Suggest ways to make the student submission clearer. Be specific; use explanations and examples!"%>
          <%= f.text_area :comments, size: "10x5", class:"review_text form-control" %>
          <div class="alert alert-warning" id="review_tips">Review tips appear here as you begin typing.</div>
          <legend></legend>
          <table>
            <tr>
              <td style="vertical-align:top;"><%= f.check_box :out_of_box_answer, :style => "margin:0 5px 0 0;" %></td><td style="vertical-align:top;"><%= f.label :out_of_box_answer, "This is an excellent, out of the box submission." %></td>
            </tr>
          </table>
        </li>
      </ul>
      
      <div class="actions">
        <%= f.hidden_field :completion_metadata, :id=>"review_completion_metadata" %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      </div>
    <% end %>
<% end %>

<% content_for(:modals) do %>
  <div class="modal" id="incomplete-review-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Review not complete</h4>
        </div>
        <div class="modal-body">
          <p>You still have some items you haven't looked at. We've highlighted them so they're easy to find.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Complete the review</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal" id="example-review-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Here's an example submission that would score well</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back to reviewing</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>