<%= form_for([@answer,@review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Here's how this assignment should be assessed</p>
      <style type="text/css">
      .rubric {margin: 0;}
      .rubric li {list-style-type: none;}
      </style>
      <ul class="rubric">
        <li>
          <%= f.fields_for :feedback_items do |r| %>
          <strong><%= r.object.rubric_item.short_title %></strong> <span class="pull-right label">Max: <%=r.object.rubric_item.max %> (<%= r.object.rubric_item.max_label%>)</span><br/>
          <legend></legend>
          <%= sanitize r.object.rubric_item.title %>

          <legend></legend>
          <%= r.collection_check_boxes(:answer_attribute_ids, AnswerAttribute.where(:rubric_item_id => r.object.rubric_item.id), :id, :description) do |b| %>
            <p><%= b.check_box %><%= b.label %></p>
          <% end %>

          Comments
          <%= r.text_area :like_feedback, placeholder: "What do you like about this part?" %><br/>
          <%= r.hidden_field :rubric_item_id %>
          <% if @review.answer.assignment.due_at < Time.now %>
            <%= r.number_field :score %>
          <% end %>
          <br/>
        </li>
        <% end %>
        <li><%= f.check_box :out_of_box_answer%><%= f.label :out_of_box_answer, "This is an excellent, out of the box answer." %> </li>
      </ul>

      <b>Overall comments</b>
      <%= f.text_area :comments, size: "10x5", class:"review_text" %>

      <div class="alert" id="review_tips">Review tips appear here as you begin typing </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>

