<%= form_for([@answer,@review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Here's how this assignment should be assessed</p>
      <style type="text/css">
      .rubric {margin: 0;}
      .rubric li {list-style-type: none;}
      </style>
      <ul class="rubric">
        <li>
          <%= f.fields_for :feedback_items do |r| %>
          <strong><%= r.object.rubric_item.short_title %></strong> <span class="pull-right label">Max: <%=r.object.rubric_item.max %> (<%= r.object.rubric_item.max_label%>)</span><br/>
          <legend></legend>
          <%= sanitize r.object.rubric_item.title %>

          <legend></legend>
          <% r.object.rubric_item.answer_attributes.each do |a_attr| %>
            <p><%= r.check_box :answer_attributes, {multiple: true}, a_attr.id, nil %><%= a_attr.description %></p>
          <% end %>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseLikes_<%=r.object.rubric_item.id %>">
                    I like...
                  </a>
                </h4>
              </div>
              <div id="collapseLikes_<%=r.object.rubric_item.id %>" class="panel-collapse collapse in">
                <div class="panel-body">
                    <%= r.text_area :like_feedback, placeholder: "What do you like about this part?" %><br/>
                    <%= r.hidden_field :rubric_item_id %>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseWishes_<%=r.object.rubric_item.id %>">
                    I wish...
                  </a>
                </h4>
              </div>
              <div id="collapseWishes_<%=r.object.rubric_item.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= r.text_area :wish_feedback, placeholder: "What do you wish had been better?" %>
                </div>
              </div>
            </div>
          </div>
          <% if @review.answer.assignment.due_at < Time.now %>
            <%= r.number_field :score %>
          <% end %>
          <br/>
        </li>

        <% end %>
        <li><%= f.check_box :out_of_box_answer%><%= f.label :out_of_box_answer, "This is an excellent, out of the box answer." %> </li>
      </ul>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>

