<p>Here's how your peers assessed you.</p>
<style type="text/css">
.rubric {margin: 0;}
.rubric li {list-style-type: none; background-color:#efefef; margin:20px 0; padding:10px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
</style>
<ul class="rubric">
  <% answer.assignment.rubric_items.each do |r| %>
    <li>
      <strong><%= r.short_title %></strong> 
      <!-- <span class="pull-right label">Max: <%=r.max %><%= "(#{r.max_label})" unless r.max_label.blank?%></span> -->
      <br/>
      <legend></legend>
      <%= sanitize r.title %>
      <% if feedback_items_by_rubric_item[r.id].nil? %>
      No review.
      <% else %>
        <% feedback_items_by_rubric_item[r.id].each.with_index(1) do |f,i| %>
          <% f.answer_attributes.each do |a_attr| %>
            <p><%= a_attr.description %></p>
          <% end %>
          <% unless f.like_feedback.blank? %>
            <p><strong>Reviewer <%= i %></strong> <%= f.like_feedback %></p>
            <!-- <p><strong>Wish: </strong><%= f.wish_feedback %></p> -->
          <% end %>
        <% end %>
      <% end -%>
    </li>
  <% end %>
  <% unless feedback_items_by_rubric_item["comments"].nil? %>
  <li>
    <strong>Overall feedback:</strong>
    <% feedback_items_by_rubric_item["comments"].each.with_index(1) do |comment,i| %>
      <% next if comment.nil? %>
      <p><strong>Reviewer <%=i %></strong> <%= comment %> </p>
    <% end %>
  </li>
  <% end %>
</ul>