<div class="assignment_instructions">
    <h1><%= link_to @answer.assignment.title, @answer.assignment %></h1>

    <div class="assignment-description">
      <%= sanitize @answer.assignment.description %>
    </div>
</div>
<div class="row">
  <div class="assignment-rubric span5">
    <p>Here's how your peers assessed you.</p>
    <style type="text/css">
    .rubric {margin: 0;}
    .rubric li {list-style-type: none;}
    </style>
    <ul class="rubric">
      <% @answer.assignment.rubric_items.each do |r| %>
        <li>
          <strong><%= r.short_title %></strong> <span class="pull-right label">Max: <%=r.max %> (<%= r.max_label%>)</span><br/>
          <legend></legend>
          <%= sanitize r.title %>
          <% @feedback_items_by_rubric_item[r.id].each do |f| %>
              <p><strong>Like: </strong><%= f.like_feedback %></p>
              <p><strong>Wish: </strong><%= f.wish_feedback %></p>
              <legend></legend>
          <% end %>
          <br/>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field span7">
    <div class="edited-content">
      <%= sanitize @answer.response unless @answer.response.nil? %>
    </div>
  </div>
</div>
