<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Stanford | peergrademe" %></title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|PT+Sans:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : "Stanford | talkabout" %>"/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"/>
    <meta property="og:site_name" content="talkabout
    "/>
    <meta property="og:description" content="<%= (@project && !@project.description.blank?) ? @project.description.truncate(100) : "Collaborative human and machine grading." %>" />
</head>
<body>
<div id="fb-root"></div>
<div id="nav_top">
  <div class="container">
    <div class="navbar" style="margin-bottom: 0; border: 0;">
      <div class="navbar-inner" style="padding-right: 0; border: 0; margin: 0; background: 0; box-shadow: none;">
        <% if @org %>
          <%= link_to @org.name, o_path(@org), :class => "brand", :style => "padding-left: 0;" %>
        <% else %>
          <%= link_to root_path, :class => "brand", :style => "padding-left: 0;" do %>
            Stanford | <strong>peergrademe</strong>
            <% if content_for?(:title) %>
              <small class="title_slug">&ndash; <%= content_for(:title) %></small>
            <% else %>
              <small class="title_slug">&ndash; Let's learn together!</small>
            <% end %>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" id="login_label" role="button" data-toggle="dropdown" data-target="#" href="<%= edit_user_registration_path %>">
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="login_label">
                <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to "Sign up / Sign in", new_user_session_path, :method => :get %></li>
          </ul>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
<%= render :partial => 'layouts/notice', :locals => {:notice => notice, :alert => alert} %>
<%= yield %>

<div class="clearfix"></div>

<div style="border-top: 1px solid #efefef; margin-top: 15px;">
  <span class="pull-left">Got questions? Please ask in the <a href="https://class.coursera.org/hci-004/forum/list?forum_id=13">peer assessment forum</a>.</span>
  <a href="http://cs.stanford.edu"><%= image_tag "stanfordcs.png", :style => 'height: 15%; width: 15%', :class => 'pull-right' %></a>
  <a href="http://hci.stanford.edu"><%= image_tag "stanfordhci.png", :style => 'height: 15%; width: 15%; border-right: 1px solid #efefef; padding-right: 5px;', :class => 'pull-right' %></a>
  <% if Rails.env.development? || (user_signed_in? && current_user.admin?) %> 
    <p><span class="label">DEBUG</span> Parameters: <code> <%= params.inspect %> </code> Session: <code><%= session %></code> </p>
    <p><span class="label">OPENID</span> Return path <code><%= request.env['omniauth.origin']  || "None"%></code></p>
    <% if not flash[:debug].nil? %>
    <div class="well">
      <%flash[:debug].each do |msg| %>
      <%= msg %>
    <% end %>
    </div>
    <% end %>
    
  <% end %>
</div>

</div>
<script type="text/javascript">$('.dropdown-toggle').dropdown();</script>
</body>

</html>
