<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Stanford+UCSD | #{t :PeerStudio}" %></title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|PT+Sans:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : "Stanford | PeerStudio" %>"/>
    <meta property="og:type" content="cause"/>
    <meta property="og:url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>"/>
    <meta property="og:site_name" content="peerstudio"/>
    <meta property="og:description" content="<%= (@project && !@project.description.blank?) ? @project.description.truncate(100) : "Collaborative human and machine grading." %>" />

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro|Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield %>
  <%= render :partial=>'layouts/global_includes_async' %>
</body>
</html>