<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<%= render :partial=>'layouts/global_includes' %>
<body>
<div id="fb-root"></div>
<div id="wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation" style="margin-bottom: 0"
   <% if current_user != true_user %>style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(189, 54, 47)); background-color: rgb(189, 54, 47);"<%end%> >
        
            <% if @org %>
              <div class="navbar-header">
                <%= link_to @org.name, o_path(@org), :class => "navbar-brand", :style => "padding-left: 0;" %>
              </div>
            <% else %>
                <% if content_for?(:local_nav) %>
                <div class="navbar-header">
                    <%= link_to root_path, :class => "navbar-brand" do %>
                      Stanford+UCSD | <strong><%= t :PeerStudio %></strong> <%end %>
                </div>
                <ul class="nav navbar-nav">
                   <%= content_for(:local_nav) %>
                </ul>
                
                <% else %>
                  <%= link_to root_path, :class => "navbar-brand" do %>
                    Stanford+UCSD | <strong><%= t :PeerStudio %></strong>
                  <% end %>
              <% end %>
            <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Help", help_courses_path %> </li>
          <% if user_signed_in? %>
              
                <li class="dropdown">
                  <a class="dropdown-toggle" id="login_label" role="button" data-toggle="dropdown" data-target="#" href="<%= edit_user_registration_path %>">
                    <%= current_user.name %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="login_label">
                    <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              
            <% else %>
                <li><%= link_to "Sign up / Sign in", "#signInModal", "data-toggle" => "modal" %></li>
            <% end %>
          </ul>
    </nav>
  </div>
  <div class="row-fluid">
    <div  id="mainpage" class="col-xs-12">
      <%= render :partial => 'layouts/notice', :locals => {:notice => notice, :alert => alert} %>
      <%= yield %>
    </div>
  </div>
</div>
<script type="text/javascript">$('.dropdown-toggle').dropdown();</script>

<% unless user_signed_in? %>
  <!-- Modal -->
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInLabel" aria-hidden="true">
    <div class="modal-body">
      <%= render partial:"devise/sessions/form" %>
    </div>
  </div>
<% end %>
</body>

</html>
